@font-face {
	font-family: 'Gotham Pro Bold';
	src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot');
	src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
		url('fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Black';
	src: url('fonts/GothamPro-Black/GothamPro-Black.eot');
	src: url('fonts/GothamPro-Black/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'),
		url('fonts/GothamPro-Black/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Regular/GothamPro-Regular.eot');
	src: url('fonts/GothamPro-Regular/GothamPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Regular/GothamPro-Regular.woff') format('woff'),
		url('fonts/GothamPro-Regular/GothamPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('fonts/GothamPro-Medium/GothamPro-Medium.eot');
	src: url('fonts/GothamPro-Medium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
		url('fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Light';
	src: url('fonts/GothamPro-Light/GothamPro-Light.eot');
	src: url('fonts/GothamPro-Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Light/GothamPro-LightLight.woff') format('woff'),
		url('fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Attentica 4F';
	src: url('fonts/Attentica4F-UltraLight/Attentica4F-UltraLight.eot');
	src: url('fonts/Attentica4F-UltraLight/Attentica4F-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/Attentica4F-UltraLight/Attentica4F-UltraLight.woff') format('woff'),
		url('fonts/Attentica4F-UltraLight/Attentica4F-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


$GP: 'Gotham Pro', sans-serif;
$GPB: 'Gotham Pro Bold', sans-serif;
$GPM: 'Gotham Pro Medium', sans-serif;
$GPL: 'Gotham Pro Light', sans-serif;
$GPBlack: 'Gotham Pro Black', sans-serif;
$A4F: 'Attentica 4F', sans-serif;
