// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alergy-name: 'alergy';
$alergy-x: 0px;
$alergy-y: 888px;
$alergy-offset-x: 0px;
$alergy-offset-y: -888px;
$alergy-width: 814px;
$alergy-height: 167px;
$alergy-total-width: 1597px;
$alergy-total-height: 1427px;
$alergy-image: 'sprite.png';
$alergy: (0px, 888px, 0px, -888px, 814px, 167px, 1597px, 1427px, 'sprite.png', 'alergy', );
$ask-sign-name: 'ask-sign';
$ask-sign-x: 1576px;
$ask-sign-y: 204px;
$ask-sign-offset-x: -1576px;
$ask-sign-offset-y: -204px;
$ask-sign-width: 21px;
$ask-sign-height: 21px;
$ask-sign-total-width: 1597px;
$ask-sign-total-height: 1427px;
$ask-sign-image: 'sprite.png';
$ask-sign: (1576px, 204px, -1576px, -204px, 21px, 21px, 1597px, 1427px, 'sprite.png', 'ask-sign', );
$blue-lines-name: 'blue-lines';
$blue-lines-x: 614px;
$blue-lines-y: 504px;
$blue-lines-offset-x: -614px;
$blue-lines-offset-y: -504px;
$blue-lines-width: 322px;
$blue-lines-height: 1px;
$blue-lines-total-width: 1597px;
$blue-lines-total-height: 1427px;
$blue-lines-image: 'sprite.png';
$blue-lines: (614px, 504px, -614px, -504px, 322px, 1px, 1597px, 1427px, 'sprite.png', 'blue-lines', );
$burger-name: 'burger';
$burger-x: 1554px;
$burger-y: 256px;
$burger-offset-x: -1554px;
$burger-offset-y: -256px;
$burger-width: 22px;
$burger-height: 16px;
$burger-total-width: 1597px;
$burger-total-height: 1427px;
$burger-image: 'sprite.png';
$burger: (1554px, 256px, -1554px, -256px, 22px, 16px, 1597px, 1427px, 'sprite.png', 'burger', );
$calendar-name: 'calendar';
$calendar-x: 0px;
$calendar-y: 1246px;
$calendar-offset-x: 0px;
$calendar-offset-y: -1246px;
$calendar-width: 144px;
$calendar-height: 181px;
$calendar-total-width: 1597px;
$calendar-total-height: 1427px;
$calendar-image: 'sprite.png';
$calendar: (0px, 1246px, 0px, -1246px, 144px, 181px, 1597px, 1427px, 'sprite.png', 'calendar', );
$checked-name: 'checked';
$checked-x: 1580px;
$checked-y: 226px;
$checked-offset-x: -1580px;
$checked-offset-y: -226px;
$checked-width: 15px;
$checked-height: 10px;
$checked-total-width: 1597px;
$checked-total-height: 1427px;
$checked-image: 'sprite.png';
$checked: (1580px, 226px, -1580px, -226px, 15px, 10px, 1597px, 1427px, 'sprite.png', 'checked', );
$cross-name: 'cross';
$cross-x: 1469px;
$cross-y: 281px;
$cross-offset-x: -1469px;
$cross-offset-y: -281px;
$cross-width: 18px;
$cross-height: 18px;
$cross-total-width: 1597px;
$cross-total-height: 1427px;
$cross-image: 'sprite.png';
$cross: (1469px, 281px, -1469px, -281px, 18px, 18px, 1597px, 1427px, 'sprite.png', 'cross', );
$dill-name: 'dill';
$dill-x: 1336px;
$dill-y: 1012px;
$dill-offset-x: -1336px;
$dill-offset-y: -1012px;
$dill-width: 101px;
$dill-height: 181px;
$dill-total-width: 1597px;
$dill-total-height: 1427px;
$dill-image: 'sprite.png';
$dill: (1336px, 1012px, -1336px, -1012px, 101px, 181px, 1597px, 1427px, 'sprite.png', 'dill', );
$drib-name: 'drib';
$drib-x: 1585px;
$drib-y: 154px;
$drib-offset-x: -1585px;
$drib-offset-y: -154px;
$drib-width: 11px;
$drib-height: 17px;
$drib-total-width: 1597px;
$drib-total-height: 1427px;
$drib-image: 'sprite.png';
$drib: (1585px, 154px, -1585px, -154px, 11px, 17px, 1597px, 1427px, 'sprite.png', 'drib', );
$exclaim-name: 'exclaim';
$exclaim-x: 1554px;
$exclaim-y: 204px;
$exclaim-offset-x: -1554px;
$exclaim-offset-y: -204px;
$exclaim-width: 22px;
$exclaim-height: 22px;
$exclaim-total-width: 1597px;
$exclaim-total-height: 1427px;
$exclaim-image: 'sprite.png';
$exclaim: (1554px, 204px, -1554px, -204px, 22px, 22px, 1597px, 1427px, 'sprite.png', 'exclaim', );
$eye-name: 'eye';
$eye-x: 1554px;
$eye-y: 128px;
$eye-offset-x: -1554px;
$eye-offset-y: -128px;
$eye-width: 40px;
$eye-height: 26px;
$eye-total-width: 1597px;
$eye-total-height: 1427px;
$eye-image: 'sprite.png';
$eye: (1554px, 128px, -1554px, -128px, 40px, 26px, 1597px, 1427px, 'sprite.png', 'eye', );
$fb-gray-name: 'fb-gray';
$fb-gray-x: 1469px;
$fb-gray-y: 322px;
$fb-gray-offset-x: -1469px;
$fb-gray-offset-y: -322px;
$fb-gray-width: 13px;
$fb-gray-height: 24px;
$fb-gray-total-width: 1597px;
$fb-gray-total-height: 1427px;
$fb-gray-image: 'sprite.png';
$fb-gray: (1469px, 322px, -1469px, -322px, 13px, 24px, 1597px, 1427px, 'sprite.png', 'fb-gray', );
$fb-name: 'fb';
$fb-x: 1482px;
$fb-y: 322px;
$fb-offset-x: -1482px;
$fb-offset-y: -322px;
$fb-width: 13px;
$fb-height: 24px;
$fb-total-width: 1597px;
$fb-total-height: 1427px;
$fb-image: 'sprite.png';
$fb: (1482px, 322px, -1482px, -322px, 13px, 24px, 1597px, 1427px, 'sprite.png', 'fb', );
$forte-banka-wrap-name: 'forte-banka-wrap';
$forte-banka-wrap-x: 464px;
$forte-banka-wrap-y: 521px;
$forte-banka-wrap-offset-x: -464px;
$forte-banka-wrap-offset-y: -521px;
$forte-banka-wrap-width: 451px;
$forte-banka-wrap-height: 298px;
$forte-banka-wrap-total-width: 1597px;
$forte-banka-wrap-total-height: 1427px;
$forte-banka-wrap-image: 'sprite.png';
$forte-banka-wrap: (464px, 521px, -464px, -521px, 451px, 298px, 1597px, 1427px, 'sprite.png', 'forte-banka-wrap', );
$green-lines-name: 'green-lines';
$green-lines-x: 614px;
$green-lines-y: 506px;
$green-lines-offset-x: -614px;
$green-lines-offset-y: -506px;
$green-lines-width: 319px;
$green-lines-height: 1px;
$green-lines-total-width: 1597px;
$green-lines-total-height: 1427px;
$green-lines-image: 'sprite.png';
$green-lines: (614px, 506px, -614px, -506px, 319px, 1px, 1597px, 1427px, 'sprite.png', 'green-lines', );
$home-name: 'home';
$home-x: 1554px;
$home-y: 154px;
$home-offset-x: -1554px;
$home-offset-y: -154px;
$home-width: 31px;
$home-height: 26px;
$home-total-width: 1597px;
$home-total-height: 1427px;
$home-image: 'sprite.png';
$home: (1554px, 154px, -1554px, -154px, 31px, 26px, 1597px, 1427px, 'sprite.png', 'home', );
$leather-name: 'leather';
$leather-x: 1469px;
$leather-y: 0px;
$leather-offset-x: -1469px;
$leather-offset-y: 0px;
$leather-width: 128px;
$leather-height: 128px;
$leather-total-width: 1597px;
$leather-total-height: 1427px;
$leather-image: 'sprite.png';
$leather: (1469px, 0px, -1469px, 0px, 128px, 128px, 1597px, 1427px, 'sprite.png', 'leather', );
$mask-name: 'mask';
$mask-x: 144px;
$mask-y: 1246px;
$mask-offset-x: -144px;
$mask-offset-y: -1246px;
$mask-width: 159px;
$mask-height: 126px;
$mask-total-width: 1597px;
$mask-total-height: 1427px;
$mask-image: 'sprite.png';
$mask: (144px, 1246px, -144px, -1246px, 159px, 126px, 1597px, 1427px, 'sprite.png', 'mask', );
$menu-blue-bg-name: 'menu-blue-bg';
$menu-blue-bg-x: 464px;
$menu-blue-bg-y: 819px;
$menu-blue-bg-offset-x: -464px;
$menu-blue-bg-offset-y: -819px;
$menu-blue-bg-width: 400px;
$menu-blue-bg-height: 59px;
$menu-blue-bg-total-width: 1597px;
$menu-blue-bg-total-height: 1427px;
$menu-blue-bg-image: 'sprite.png';
$menu-blue-bg: (464px, 819px, -464px, -819px, 400px, 59px, 1597px, 1427px, 'sprite.png', 'menu-blue-bg', );
$menu-green-bg-name: 'menu-green-bg';
$menu-green-bg-x: 781px;
$menu-green-bg-y: 1055px;
$menu-green-bg-offset-x: -781px;
$menu-green-bg-offset-y: -1055px;
$menu-green-bg-width: 271px;
$menu-green-bg-height: 48px;
$menu-green-bg-total-width: 1597px;
$menu-green-bg-total-height: 1427px;
$menu-green-bg-image: 'sprite.png';
$menu-green-bg: (781px, 1055px, -781px, -1055px, 271px, 48px, 1597px, 1427px, 'sprite.png', 'menu-green-bg', );
$microbe-name: 'microbe';
$microbe-x: 1066px;
$microbe-y: 740px;
$microbe-offset-x: -1066px;
$microbe-offset-y: -740px;
$microbe-width: 152px;
$microbe-height: 226px;
$microbe-total-width: 1597px;
$microbe-total-height: 1427px;
$microbe-image: 'sprite.png';
$microbe: (1066px, 740px, -1066px, -740px, 152px, 226px, 1597px, 1427px, 'sprite.png', 'microbe', );
$minus-name: 'minus';
$minus-x: 1576px;
$minus-y: 225px;
$minus-offset-x: -1576px;
$minus-offset-y: -225px;
$minus-width: 19px;
$minus-height: 1px;
$minus-total-width: 1597px;
$minus-total-height: 1427px;
$minus-image: 'sprite.png';
$minus: (1576px, 225px, -1576px, -225px, 19px, 1px, 1597px, 1427px, 'sprite.png', 'minus', );
$mobile-arrow-name: 'mobile-arrow';
$mobile-arrow-x: 1585px;
$mobile-arrow-y: 171px;
$mobile-arrow-offset-x: -1585px;
$mobile-arrow-offset-y: -171px;
$mobile-arrow-width: 9px;
$mobile-arrow-height: 9px;
$mobile-arrow-total-width: 1597px;
$mobile-arrow-total-height: 1427px;
$mobile-arrow-image: 'sprite.png';
$mobile-arrow: (1585px, 171px, -1585px, -171px, 9px, 9px, 1597px, 1427px, 'sprite.png', 'mobile-arrow', );
$ok-gray-name: 'ok-gray';
$ok-gray-x: 1581px;
$ok-gray-y: 180px;
$ok-gray-offset-x: -1581px;
$ok-gray-offset-y: -180px;
$ok-gray-width: 14px;
$ok-gray-height: 23px;
$ok-gray-total-width: 1597px;
$ok-gray-total-height: 1427px;
$ok-gray-image: 'sprite.png';
$ok-gray: (1581px, 180px, -1581px, -180px, 14px, 23px, 1597px, 1427px, 'sprite.png', 'ok-gray', );
$ok-name: 'ok';
$ok-x: 1469px;
$ok-y: 299px;
$ok-offset-x: -1469px;
$ok-offset-y: -299px;
$ok-width: 14px;
$ok-height: 23px;
$ok-total-width: 1597px;
$ok-total-height: 1427px;
$ok-image: 'sprite.png';
$ok: (1469px, 299px, -1469px, -299px, 14px, 23px, 1597px, 1427px, 'sprite.png', 'ok', );
$popup-check-name: 'popup-check';
$popup-check-x: 1554px;
$popup-check-y: 180px;
$popup-check-offset-x: -1554px;
$popup-check-offset-y: -180px;
$popup-check-width: 27px;
$popup-check-height: 24px;
$popup-check-total-width: 1597px;
$popup-check-total-height: 1427px;
$popup-check-image: 'sprite.png';
$popup-check: (1554px, 180px, -1554px, -180px, 27px, 24px, 1597px, 1427px, 'sprite.png', 'popup-check', );
$purple-lines-name: 'purple-lines';
$purple-lines-x: 614px;
$purple-lines-y: 505px;
$purple-lines-offset-x: -614px;
$purple-lines-offset-y: -505px;
$purple-lines-width: 322px;
$purple-lines-height: 1px;
$purple-lines-total-width: 1597px;
$purple-lines-total-height: 1427px;
$purple-lines-image: 'sprite.png';
$purple-lines: (614px, 505px, -614px, -505px, 322px, 1px, 1597px, 1427px, 'sprite.png', 'purple-lines', );
$qhead-name: 'qhead';
$qhead-x: 915px;
$qhead-y: 521px;
$qhead-offset-x: -915px;
$qhead-offset-y: -521px;
$qhead-width: 145px;
$qhead-height: 187px;
$qhead-total-width: 1597px;
$qhead-total-height: 1427px;
$qhead-image: 'sprite.png';
$qhead: (915px, 521px, -915px, -521px, 145px, 187px, 1597px, 1427px, 'sprite.png', 'qhead', );
$real-drib-name: 'real-drib';
$real-drib-x: 1469px;
$real-drib-y: 128px;
$real-drib-offset-x: -1469px;
$real-drib-offset-y: -128px;
$real-drib-width: 85px;
$real-drib-height: 153px;
$real-drib-total-width: 1597px;
$real-drib-total-height: 1427px;
$real-drib-image: 'sprite.png';
$real-drib: (1469px, 128px, -1469px, -128px, 85px, 153px, 1597px, 1427px, 'sprite.png', 'real-drib', );
$rino-blue-bg-name: 'rino-blue-bg';
$rino-blue-bg-x: 614px;
$rino-blue-bg-y: 0px;
$rino-blue-bg-offset-x: -614px;
$rino-blue-bg-offset-y: 0px;
$rino-blue-bg-width: 452px;
$rino-blue-bg-height: 379px;
$rino-blue-bg-total-width: 1597px;
$rino-blue-bg-total-height: 1427px;
$rino-blue-bg-image: 'sprite.png';
$rino-blue-bg: (614px, 0px, -614px, 0px, 452px, 379px, 1597px, 1427px, 'sprite.png', 'rino-blue-bg', );
$rino-red-bg-name: 'rino-red-bg';
$rino-red-bg-x: 0px;
$rino-red-bg-y: 521px;
$rino-red-bg-offset-x: 0px;
$rino-red-bg-offset-y: -521px;
$rino-red-bg-width: 464px;
$rino-red-bg-height: 367px;
$rino-red-bg-total-width: 1597px;
$rino-red-bg-total-height: 1427px;
$rino-red-bg-image: 'sprite.png';
$rino-red-bg: (0px, 521px, 0px, -521px, 464px, 367px, 1597px, 1427px, 'sprite.png', 'rino-red-bg', );
$rotation-circle-name: 'rotation-circle';
$rotation-circle-x: 330px;
$rotation-circle-y: 1055px;
$rotation-circle-offset-x: -330px;
$rotation-circle-offset-y: -1055px;
$rotation-circle-width: 451px;
$rotation-circle-height: 79px;
$rotation-circle-total-width: 1597px;
$rotation-circle-total-height: 1427px;
$rotation-circle-image: 'sprite.png';
$rotation-circle: (330px, 1055px, -330px, -1055px, 451px, 79px, 1597px, 1427px, 'sprite.png', 'rotation-circle', );
$shield-green-name: 'shield-green';
$shield-green-x: 1336px;
$shield-green-y: 687px;
$shield-green-offset-x: -1336px;
$shield-green-offset-y: -687px;
$shield-green-width: 114px;
$shield-green-height: 163px;
$shield-green-total-width: 1597px;
$shield-green-total-height: 1427px;
$shield-green-image: 'sprite.png';
$shield-green: (1336px, 687px, -1336px, -687px, 114px, 163px, 1597px, 1427px, 'sprite.png', 'shield-green', );
$shiled-name: 'shiled';
$shiled-x: 1336px;
$shiled-y: 850px;
$shiled-offset-x: -1336px;
$shiled-offset-y: -850px;
$shiled-width: 114px;
$shiled-height: 162px;
$shiled-total-width: 1597px;
$shiled-total-height: 1427px;
$shiled-image: 'sprite.png';
$shiled: (1336px, 850px, -1336px, -850px, 114px, 162px, 1597px, 1427px, 'sprite.png', 'shiled', );
$ship-name: 'ship';
$ship-x: 1066px;
$ship-y: 311px;
$ship-offset-x: -1066px;
$ship-offset-y: -311px;
$ship-width: 216px;
$ship-height: 223px;
$ship-total-width: 1597px;
$ship-total-height: 1427px;
$ship-image: 'sprite.png';
$ship: (1066px, 311px, -1066px, -311px, 216px, 223px, 1597px, 1427px, 'sprite.png', 'ship', );
$skin-name: 'skin';
$skin-x: 0px;
$skin-y: 1055px;
$skin-offset-x: 0px;
$skin-offset-y: -1055px;
$skin-width: 330px;
$skin-height: 191px;
$skin-total-width: 1597px;
$skin-total-height: 1427px;
$skin-image: 'sprite.png';
$skin: (0px, 1055px, 0px, -1055px, 330px, 191px, 1597px, 1427px, 'sprite.png', 'skin', );
$slider-microbe-name: 'slider-microbe';
$slider-microbe-x: 614px;
$slider-microbe-y: 379px;
$slider-microbe-offset-x: -614px;
$slider-microbe-offset-y: -379px;
$slider-microbe-width: 381px;
$slider-microbe-height: 125px;
$slider-microbe-total-width: 1597px;
$slider-microbe-total-height: 1427px;
$slider-microbe-image: 'sprite.png';
$slider-microbe: (614px, 379px, -614px, -379px, 381px, 125px, 1597px, 1427px, 'sprite.png', 'slider-microbe', );
$soft-banka-wrap-name: 'soft-banka-wrap';
$soft-banka-wrap-x: 0px;
$soft-banka-wrap-y: 0px;
$soft-banka-wrap-offset-x: 0px;
$soft-banka-wrap-offset-y: 0px;
$soft-banka-wrap-width: 614px;
$soft-banka-wrap-height: 521px;
$soft-banka-wrap-total-width: 1597px;
$soft-banka-wrap-total-height: 1427px;
$soft-banka-wrap-image: 'sprite.png';
$soft-banka-wrap: (0px, 0px, 0px, 0px, 614px, 521px, 1597px, 1427px, 'sprite.png', 'soft-banka-wrap', );
$sprey-big-name: 'sprey-big';
$sprey-big-x: 1336px;
$sprey-big-y: 421px;
$sprey-big-offset-x: -1336px;
$sprey-big-offset-y: -421px;
$sprey-big-width: 74px;
$sprey-big-height: 266px;
$sprey-big-total-width: 1597px;
$sprey-big-total-height: 1427px;
$sprey-big-image: 'sprite.png';
$sprey-big: (1336px, 421px, -1336px, -421px, 74px, 266px, 1597px, 1427px, 'sprite.png', 'sprey-big', );
$sprey-name: 'sprey';
$sprey-x: 1066px;
$sprey-y: 0px;
$sprey-offset-x: -1066px;
$sprey-offset-y: 0px;
$sprey-width: 270px;
$sprey-height: 311px;
$sprey-total-width: 1597px;
$sprey-total-height: 1427px;
$sprey-image: 'sprite.png';
$sprey: (1066px, 0px, -1066px, 0px, 270px, 311px, 1597px, 1427px, 'sprite.png', 'sprey', );
$sprey1-name: 'sprey1';
$sprey1-x: 1066px;
$sprey1-y: 534px;
$sprey1-offset-x: -1066px;
$sprey1-offset-y: -534px;
$sprey1-width: 214px;
$sprey1-height: 206px;
$sprey1-total-width: 1597px;
$sprey1-total-height: 1427px;
$sprey1-image: 'sprite.png';
$sprey1: (1066px, 534px, -1066px, -534px, 214px, 206px, 1597px, 1427px, 'sprite.png', 'sprey1', );
$sprey2-name: 'sprey2';
$sprey2-x: 1336px;
$sprey2-y: 0px;
$sprey2-offset-x: -1336px;
$sprey2-offset-y: 0px;
$sprey2-width: 133px;
$sprey2-height: 196px;
$sprey2-total-width: 1597px;
$sprey2-total-height: 1427px;
$sprey2-image: 'sprite.png';
$sprey2: (1336px, 0px, -1336px, 0px, 133px, 196px, 1597px, 1427px, 'sprite.png', 'sprey2', );
$toothbrush-name: 'toothbrush';
$toothbrush-x: 1336px;
$toothbrush-y: 196px;
$toothbrush-offset-x: -1336px;
$toothbrush-offset-y: -196px;
$toothbrush-width: 104px;
$toothbrush-height: 225px;
$toothbrush-total-width: 1597px;
$toothbrush-total-height: 1427px;
$toothbrush-image: 'sprite.png';
$toothbrush: (1336px, 196px, -1336px, -196px, 104px, 225px, 1597px, 1427px, 'sprite.png', 'toothbrush', );
$up-arrow-name: 'up-arrow';
$up-arrow-x: 1576px;
$up-arrow-y: 256px;
$up-arrow-offset-x: -1576px;
$up-arrow-offset-y: -256px;
$up-arrow-width: 19px;
$up-arrow-height: 15px;
$up-arrow-total-width: 1597px;
$up-arrow-total-height: 1427px;
$up-arrow-image: 'sprite.png';
$up-arrow: (1576px, 256px, -1576px, -256px, 19px, 15px, 1597px, 1427px, 'sprite.png', 'up-arrow', );
$vk-gray-name: 'vk-gray';
$vk-gray-x: 1554px;
$vk-gray-y: 241px;
$vk-gray-offset-x: -1554px;
$vk-gray-offset-y: -241px;
$vk-gray-width: 26px;
$vk-gray-height: 15px;
$vk-gray-total-width: 1597px;
$vk-gray-total-height: 1427px;
$vk-gray-image: 'sprite.png';
$vk-gray: (1554px, 241px, -1554px, -241px, 26px, 15px, 1597px, 1427px, 'sprite.png', 'vk-gray', );
$vk-name: 'vk';
$vk-x: 1554px;
$vk-y: 226px;
$vk-offset-x: -1554px;
$vk-offset-y: -226px;
$vk-width: 26px;
$vk-height: 15px;
$vk-total-width: 1597px;
$vk-total-height: 1427px;
$vk-image: 'sprite.png';
$vk: (1554px, 226px, -1554px, -226px, 26px, 15px, 1597px, 1427px, 'sprite.png', 'vk', );
$water-wave-name: 'water-wave';
$water-wave-x: 814px;
$water-wave-y: 888px;
$water-wave-offset-x: -814px;
$water-wave-offset-y: -888px;
$water-wave-width: 189px;
$water-wave-height: 156px;
$water-wave-total-width: 1597px;
$water-wave-total-height: 1427px;
$water-wave-image: 'sprite.png';
$water-wave: (814px, 888px, -814px, -888px, 189px, 156px, 1597px, 1427px, 'sprite.png', 'water-wave', );
$spritesheet-width: 1597px;
$spritesheet-height: 1427px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($alergy, $ask-sign, $blue-lines, $burger, $calendar, $checked, $cross, $dill, $drib, $exclaim, $eye, $fb-gray, $fb, $forte-banka-wrap, $green-lines, $home, $leather, $mask, $menu-blue-bg, $menu-green-bg, $microbe, $minus, $mobile-arrow, $ok-gray, $ok, $popup-check, $purple-lines, $qhead, $real-drib, $rino-blue-bg, $rino-red-bg, $rotation-circle, $shield-green, $shiled, $ship, $skin, $slider-microbe, $soft-banka-wrap, $sprey-big, $sprey, $sprey1, $sprey2, $toothbrush, $up-arrow, $vk-gray, $vk, $water-wave, );
$spritesheet: (1597px, 1427px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/pngsprite/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
