
.indexPage.indexPage--all.topSectionBg.topSectionBg--all
    .container
        .indexPage__item
            a(href="#")
                .indexPage__logo.indexPage__logo--all
                    span
                        img(src="./img/other-svg/rino-blue.svg")
                .indexPage__slogan природная сила<br />морской воды
            .indexPage__info.indexPage__info--all
                .indexPage__info__item
                    .indexPage__info__sprey
                        img(src="./img/all-item-1.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        |ежедневная гигиена для самых маленьких   
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--pink подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-circleSmall.svg")
                .indexPage__info__item
                    .indexPage__info__sprey
                        img(src="./img/all-item-2.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        |ежедневная гигиена, профилактика аллергии и простуды
                        span.italic *Изделие медицинского назначения
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--greenBlue подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-circleSmall.svg")
                .indexPage__info__item
                    .indexPage__info__sprey
                        img(src="./img/all-item-3.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        |против насморка при острых простудных заболеваниях
                        span.italic *в составе комплексной терапии
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--lightBlue подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-circleSmall.svg")
                .indexPage__info__item
                    .indexPage__info__sprey
                        img(src="./img/all-item-4.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        |против заложенности носа при простуде и аллергии, при храническом рените
                        span.italic *в составе комплексной терапии  
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--purple подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-circleSmall.svg")
                
