.normTop.topSectionBg.topSectionBg--babe
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Главная риностоп аква
                a(href="#").breadcrumbs__link Риностоп аква Беби
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .normTop__wrap
            .normTop__rino
                span.normTop__rino__words природная сила<br />морской воды
                span.normTop__rino__img
                    img(src="./img/other-svg/rino-blue.svg")
            .normTop__drug
                .normTop__drug__btnWrap
                    button(type="button").normTop__downloadBtn.downloadBtn
                        span.downloadBtn__text скачать инструкцию
                        span.downloadBtn__icon
                            +icon('download')
                    span.normTop__drug__label *Изделие медицинского назначение
                .normTop__drug__img
                    img(src="./img/babe-banka.png")
                span.normTop__drug__option.normTop__drug__option--top
                    span.normTop__drug__textSign
                    |изотонический раствор
                span.normTop__drug__option.normTop__drug__option--center
                    span.normTop__drug__textSign
                    |для самых маленьких 0+
                span.normTop__drug__option.normTop__drug__option--bottom
                    span.normTop__drug__textSign
                    |равномерное орошение
                span.normTop__drug__numbers.normTop__drug__numbers--babe с первых<br />дней жизни

.domainSection.domainSection--babe
    .domainSection__wrapper
        .container
            .domainSection__title.domainSection__title--babe
                |СФЕРА ПРИМЕНЕНИЯ<br />спрея 
                span.domainSection__title__black РИНОСТОП
                span.domainSection__title__item.domainSection__title__black ®
                span.domainSection__title__black аква беби
            .domainSection__content.domainSection__content--babe
                span.domainSection__mainImg
                    img(src='./img/babe-domain.jpg') 
                span.domainSection__items.domainSection__items--1
                    |Поддержание нормального физиологического состояния слизистой оболочки полости носа и облегчение носового дыхания малышей, способствующие нормализации полноценного сна и оптимизирующие процесс грудного вскармливания
                span.domainSection__items.domainSection__items--2
                    |Ежедневная гигиена и очищение носовых ходов у детей с рождения
                span.domainSection__items.domainSection__items--3
                    |Увлажнение слизистой полости носа младенцев, в т.ч. при излишней сухости воздуха 
                span.domainSection__items.domainSection__items--4
                    |Повышение местного иммунитета, стимуляция защитной функции реснитчатого эпителия слизистой носа грудничков
                span.domainSection__items.domainSection__items--7
                span.domainSection__items.domainSection__items--8
                span.domainSection__imgItem
                    img(src="./img/babe-domain-img-1.png")
                span.domainSection__imgItem.domainSection__imgItem--2
                    img(src="./img/babe-domain-img-2.png")
            
.dignity
    .container
        .dignity__title.dignity__title--babe
            |ДОСТОИНСТВА<br />
            span.domainSection__title__black РИНОСТОП
            span.domainSection__title__item.domainSection__title__black ®
            span.domainSection__title__black аква беби
        .dignity__wrapper
            .dignity__slider.dignity__slider--babe.js-dignitySlider
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName беби
                        span.dignity__sliderOption ежедневная гигиена слизистой носа грудничков: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-babe.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-babe.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName беби
                        span.dignity__sliderOption ежедневная гигиена слизистой носа грудничков: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-babe.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-babe.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName беби
                        span.dignity__sliderOption ежедневная гигиена слизистой носа грудничков: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-babe.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-babe.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName беби
                        span.dignity__sliderOption ежедневная гигиена слизистой носа грудничков: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-babe.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-babe.png")
            .dignity__items.dignity__items--babe
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-babe-1.png")
                    .dignity__itemTitle 100% натуральный состав 
                    .dignity__itemText не содержит консервантов, стабилизаторов и иных веществ, способных вызывать раздражение слизистой носа младенцев
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-babe-2.png")
                    .dignity__itemTitle простота и удобство применения
                    .dignity__itemText удобная и современная форма выпуска в виде спрея облегчает использование у детей
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-babe-3.png")
                    .dignity__itemTitle удобная насадка-распылитель
                    .dignity__itemText насадка, учитывающая особенности анатомии детского носа. плавные линии, глянцевая гладкая поверхность насадки, а также специальное ограничительное кольцо, определяющее глубину введения насадки и предупреждающее травмирование чувствительной слизистой крохи
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-babe-4.png")
                    .dignity__itemTitle БЕРЕЖНОЕ ОРОШЕНИЕ
                    .dignity__itemText ультрамягкое бережное орошение слизистой носа за счет особой системы подачи морской воды и ее распыления в виде «мягкого душа» 
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-babe-5.png")
                    .dignity__itemTitle равномерное орошение
                    .dignity__itemText равномерное орошение слизистой за счет микродисперсного распыления морской воды в виде мельчайших частичек, смешанных с воздухом, – «водяного пара».
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-babe-6.png")
                    .dignity__itemTitle стерильность
                    .dignity__itemText продукт класса А, соответствие строгим международным стандартам качества

.spreyUsing.spreyUsing--babe
    .container
        .spreyUsing__wrapper
            .spreyUsing__title
                |КАК ИСПОЛЬЗОВАТЬ СПРЕЙ РИНОСТОП
                span.spreyUsing__titleItem ®
                | аква беби:  
            .spreyUsing__itemFor 
                span.spreyUsing__itemForText ДЕТЯМ с первыхдней жизни
                span.spreyUsing__itemForText.spreyUsing__itemForText--small орошение производить в положении ребенка лежа на боку
            .spreyUsing__content
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |очистить носовые ходы ребенка перед использованием РИНОСТОП® АКВА БЕБИ
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |снять прозрачный защитный колпачок с баллончика повернуть ребенка на бок, аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху, нажать на распылитель и вводить раствор в течение нескольких секунд.
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |повернуть ребенка на другой бок и провести процедуру с другим носовым ходом
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |вернуть ребенка в вертикальное положение, позволяя раствору оказать действие в течение нескольких секунд, затем очистить полость носа аспиратором
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |детям до 2-х лет сморкаться не рекомендуется из-за риска развития отита, вытереть остатки
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |после каждого использования хорошо промывать носовую насадку-распылитель горячей водой и вытирать насухо
            .spreyUsing__bottomMes повторить процедуру при необходимости            

.spreySchedule.spreySchedule--babe
    .spreySchedule__clock
        img(src="./img/clock-babe.png")
    .container
        .spreySchedule__title
            |КРАТНОСТЬ ПРИМЕНЕНИЯ 
            span.domainSection__title__black СПРЕЙ РИНОСТОП
                span.spreySchedule__titleItem ®
                | аква беби:  
        .spreySchedule__content
            .spreySchedule__leftItem
                |ЕЖЕДНЕВНАЯ ГИГИЕНА, ПРОФИЛАТИКА
                span 2 раза в день
            .spreySchedule__rightItem
                |Лечение*
                span 4-6 раз в день
                .italic *в составе комплексной терапии: 
            
            
            
            
            
            
