.careTop.topSectionBg.topSectionBg--care
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Сосудосуживающие средства
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .careTop__text Уход за полостью носа

.careInfo
    .container
        .careInfo__title Уход за полостью носа
        .careInfo__text Важность личной гигиены ни у кого не вызывает сомнений. Водные процедуры помогают очистить тело и повысить жизненный тонус. Таким образом, ежедневная гигиена является отличной профилактикой многих инфекционных заболеваний. То же самое касается и носа человека. Его очищение играет важную роль в защите от вирусов и бактерий.
        .careInfo__wrap
            .careInfo__smallTitle Польза гигиены полости носа
            .careInfo__text Нос выполняет важные для человека функции: дыхательную, обонятельную, защитную и резонаторную. Через носовые ходы поступают тысячи литров воздуха, который идет дальше в дыхательную систему уже в обработанном виде. В полости носа воздух очищается от патогенной микрофлоры и согревается. Из-за различных заболеваний и под действием внешних негативных факторов слизистая оболочка носа не может работать в бесперебойном режиме. В этом случае частички пыли, аллергены и микробы не выводятся должным образом из носовых ходов. Вот почему гигиена полости носа очень важна. Она является отличным методом профилактики респираторных заболеваний и аллергических реакций. 
            span.careInfo__img
                img(src="./img/care-drugs.png", alt="#")
            .careInfo__smallTitle.careInfo__smallTitle--light Возможные противопоказания
            .careInfo__text.careInfo__text--indent
                |В некоторых случаях такая гигиена носовой полости имеет противопоказания. 
                div К ним относятся:
            ul.careInfo__list
                li.careInfo__listItem Отек тканей носа, который не удается снять;
                li.careInfo__listItem Опухолевые образования в полости носа;
                li.careInfo__listItem Искривление носовой перегородки;
                li.careInfo__listItem Предрасположенность к носовым кровотечениям;
                li.careInfo__listItem Воспаление среднего уха;
                li.careInfo__listItem Перфорация барабанной перепонки;
                li.careInfo__listItem Аллергические реакции на раствор для промывания.

.coreAcva
    .container
        .coreAcva__topWrap
            .coreAcva__textBlock
                .coreAcva__textTitle Очищение носа с помощью РИНОСТОП® АКВА
                |Самостоятельное приготовление раствора для промывания носа не всегда является рациональным и безопасным решением. Если у человека нет достаточных знаний и опыта в этом вопросе, то есть большая вероятность навредить своему организму. Сегодня разработано множество специальных средств для гигиены полости носа. К ним относится спрей РИНОСТОП® АКВА. Он применяется как в профилактических целях (2 раза в день), так и в рамках комплексного лечения острых и хронических заболеваний носа, носовых пазух и носоглотки (4–6 раз в день). 
            .coreAcva__img
                img(src="./img/care-circles.png", alt="#")
        .coreAcva__items
            .coreAcva__itemsLabel Продукция РИНОСТОП® АКВА является изделием медицинского назначения
            .coreAcva__item
                .coreAcva__itemImg
                    img(src="./img/care-banka-1.png", alt="#")
                .coreAcva__itemInfo
                    .coreAcva__itemTitle РИНОСТОП® АКВА БЕБИ
                    .coreAcva__itemText может использоваться уже с рождения
            .coreAcva__item
                .coreAcva__itemImg
                    img(src="./img/care-banka-2.png", alt="#")
                .coreAcva__itemInfo
                    .coreAcva__itemTitle РИНОСТОП® АКВА СОФТ 
                    .coreAcva__itemText подходит для детей с 6 месяцев и для взрослых
            .coreAcva__item
                .coreAcva__itemImg
                    img(src="./img/care-banka-3.png", alt="#")
                .coreAcva__itemInfo
                    .coreAcva__itemTitle РИНОСТОП® АКВА НОРМ 
                    .coreAcva__itemText
                        |обеспечивает уход за полостью носа в профилактических целях и применяется для комплексного лечения инфекционных заболеваний у детей от 3 лет и взрослых *
                        span *в составе комплексной терапии
            .coreAcva__item
                .coreAcva__itemImg
                    img(src="./img/care-banka-4.png", alt="#")
                .coreAcva__itemInfo
                    .coreAcva__itemTitle РИНОСТОП® АКВА ФОРТЕ 
                    .coreAcva__itemText
                        |подходит для детей с 6 месяцев и для взрослых*
                        span *в составе комплексной терапии

.spreyUsing.spreyUsing--forte.spreyUsing--care
    .container
        .spreyUsing__wrapper
            .spreyUsing__title
                |КАК ИСПОЛЬЗОВАТЬ СПРЕЙ РИНОСТОП
                span.spreyUsing__titleItem ®
                | аква форе:  
            .spreyUsing__itemFor.spreyUsing__itemFor--forte
                span.spreyUsing__itemForText.js-backContent ДЕТЯМ СТАРШЕ 2-х ЛЕТ И ВЗРОСЛЫМ
            a(href="#").spreyUsing__itemChild.js-changeBtn
                span ДЕТЯМ<br />ДО 2-х ЛЕТ
                |орошение производить в положении ребенка лежа на боку
            .spreyUsing__content
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |Высморкаться, чтобы очистить полость носа от слизи перед использованием РИНОСТОП® АКВА 
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |снять прозрачный защитный колпачок с баллончика
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |Наклониться вперед над раковиной и повернуть голову вбок. Аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху.Нажать на распылитель и производить введение раствора в течении нескольких секунд
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |Наклонить голову в противоположную сторону и провести процедуру с другим носовым ходом.
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |Высморкаться, используя правильную технику: слегка приоткрыв рот, зажимая по очереди одну ноздрю, с небольшим усилием продувать вторую.
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |Хорошо промыть насадку-распылитель теплой водой и вытереть насухо
                

                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |очистить носовые ходы ребенка перед использованием РИНОСТОП® АКВА БЕБИ
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |снять прозрачный защитный колпачок с баллончика повернуть ребенка на бок, аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху, нажать на распылитель и вводить раствор в течение нескольких секунд.
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |повернуть ребенка на другой бок и провести процедуру с другим носовым ходом
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |вернуть ребенка в вертикальное положение, позволяя раствору оказать действие в течение нескольких секунд, затем очистить полость носа аспиратором
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |детям до 2-х лет сморкаться не рекомендуется из-за риска развития отита, вытереть остатки
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |после каждого использования хорошо промывать носовую насадку-распылитель горячей водой и вытирать насухо
