.questionTop.topSectionBg.topSectionBg--contacts
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Риностоп аква ФОРТЕ
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .questionTop__wrap
            .questionTop__text
                .questionTop__textTitle Задайте свой вопрос
                .questionTop__textBlock
                    div Мы будем  рады вам помочь. 
                    |Задайте свой вопрос, заполнив форму связи. Мы ответим вам на E-mail как можно скорее. Вы также можете поискать, интересующий вас вопрос, 
                    a(href="#") на странице «Вопрос - ответ»
    
.contactsForm
    .container
        form(action="")
            .contactsForm__wrap
                .contactsForm__left
                    .contactsForm__textField
                        .contactsForm__fieldName Ваше имя
                        input(type="text").contactsForm__inputText
                    .contactsForm__textField
                        .contactsForm__fieldName Электронная почта
                        input(type="text").contactsForm__inputText
                    .contactsForm__textField.contactsForm__textField--full
                        .contactsForm__fieldName Ваш вопрос
                        textarea.contactsForm__inputText.contactsForm__inputText--textarea
                .contactsForm__right
                    .contactsForm__rightWrap
                        .contactsForm__textField.contactsForm__textField--full
                            input(type="text").contactsForm__inputText.contactsForm__inputText--disable
                        .contactsForm__textField.contactsForm__textField--full
                            .contactsForm__fieldName Код с картинки
                            input(type="text").contactsForm__inputText
                    .contactsForm__rightWrap
                        .contactsForm__rules
                            div Нажимая на кнопку «Отправить», вы принимаете 
                            a(href="#") «Заявление о конфиденциальности»
                        button(type="button").contactsForm__btn 
                            span Отправить
        .contactsForm__text
            |Компания «Отисифарм» заботится о высоком качестве своей продукции и поэтому заинтересована в получении любой информации по безопасности продукции компании. Если Вам стало известно о нежелательных явлениях, возникших при применении препаратов компании «Отисифарм», или у Вас есть жалоба на качество продукции, Вы всегда можете сообщить нам об этом. Вся необходимая контактная информация представлена 
            a(href="#") на этой странице.