.contentTop.topSectionBg.topSectionBg--content
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Сосудосуживающие средства
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .contentTop__title Содержание
        ul.contentTop__list 
            li.contentTop__link
                a(href="#") Главная 
            li.contentTop__link
                a(href="#") Тест
            li.contentTop__link
                a(href="#").disableLink Препараты 
                ul.contentTop__list2
                    li.contentTop__link2
                        a(href="#") Риностоп 
                        ul.contentTop__list3
                            li.contentTop__link3
                                a(href="#") Спрей Риностоп для детей с 6 лет и взрослых
                            li.contentTop__link3
                                a(href="#") Спрей Риностоп для детей с 2 до 6 лет
                            li.contentTop__link3
                                a(href="#") Капли Риностоп Экстра для детей
                    li.contentTop__link2 
                        a(href="#") Рисностоп Аква 
                        ul.contentTop__list3
                            li.contentTop__link3
                                a(href="#") Рисностоп Аква Беби 
                            li.contentTop__link3
                                a(href="#") Рисностоп Аква Софт 
                            li.contentTop__link3
                                a(href="#") Рисностоп Аква Норм 
                            li.contentTop__link3
                                a(href="#") Рисностоп Аква Форте 
            li.contentTop__link
                a(href="#").disableLink Строение и функции носа 
                ul.contentTop__list2
                    li.contentTop__link2
                        a(href="#") Статья Строение и функции носа 
                    li.contentTop__link2
                        a(href="#") Статья 
            li.contentTop__link
                a(href="#").disableLink Заболевание носа и пазух 
                ul.contentTop__list2
                    li.contentTop__link2
                        a(href="#") Статья Заболевание носа и пазух 
            li.contentTop__link
                a(href="#").disableLink Сосудосуживающие средства 
                ul.contentTop__list2
                    li.contentTop__link2
                        a(href="#") Статья Сосудосуживающие средства 
            li.contentTop__link
                a(href="#").disableLink Морская вода 
                ul.contentTop__list2
                    li.contentTop__link2
                        a(href="#") Статья №1 
            li.contentTop__link
                a(href="#").disableLink Полезная информация
                ul.contentTop__list2
                    li.contentTop__link2 
                        a(href="#") Статья Насморк у детей
                    li.contentTop__link2
                        a(href="#") Образная связь 
                    li.contentTop__link2
                        a(href="#") Частые вопросы 
