.rino10Top.topSectionBg.topSectionBg--extra
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Главная риностоп аква
                a(href="#").breadcrumbs__link Риностоп аква НОРМ
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .rino10Top__content
            .rino10Top__logo
                    img(src="./img/rino-extra.png")
            .rino10Top__leftSide.rino10Top__leftSide--extra
                .rino10Top__leftSide__text БЕРЕЖНЫЙ ПОДХОД К ЛЕЧЕНИЮ НАСМОРКА
                button(type="button").rino10Top__leftSide__btn.rino10Top__leftSide__btn--pinc.downloadBtn
                    span.downloadBtn__text скачать инструкцию
                    span.downloadBtn__icon.downloadBtn__icon--pinc
                        +icon('download')
            .rino10Top__drug.rino10Top__drug--extra
                .rino10Top__drugItem
                    span.rino10Top__drug__img
                        img(src="./img/extra-banka-1.png")
                    span.rino10Top__drug__text капли<br />для детей с первых<br />дней жизни до 1 года
                .rino10Top__drugItem
                    span.rino10Top__drug__img
                        img(src="./img/extra-banka-2.png")
                    span.rino10Top__drug__text капли<br />для детей<br />с 1 года до 6 лет
                .rino10Top__drugItem
                    span.rino10Top__drug__img
                        img(src="./img/extra-banka-3.png")
                    span.rino10Top__drug__text капли<br />для детей<br />с 6 лет и взрослых
            .rino10Top__rightSide.rino10Top__rightSide--extra
                .rino10Top__rightSide__img
                    +icon('nose')
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--top способствует уменьшению отека, заложенности и выделений из носа
                    span.rino10Top__rightSide__circle
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--center способствует устранению симптомов ринита
                    span.rino10Top__rightSide__circle
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--bottom способствует восстановлению носового дыхания
                    span.rino10Top__rightSide__circle
                        
.rino10Goods
    .container
        .rino10Goods__title.rino10Title.rino10Title--pink
            |ДОСТОИНСТВА <br />КАПЕЛЬ РИНОСТОП
            span ® 
            |ЭКСТРА
        .rino10Goods__items
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/extra-goods-1.png")
                .rino10Goods__item__text
                    |Бережно: <br />капли – специально для детей
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/extra-goods-2.png")
                .rino10Goods__item__text
                    |Активен через несколько минут после применения и до 12 часов*
                    span *инструкция по медицинскому применению препарата Риностоп® Экстра
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/extra-goods-3.png")
                .rino10Goods__item__text
                    |Доступен по цене*
                    span  *IMS, категория препаратов для лечения насморка (местные), январь-июль 2017
                    
.rino10Options
    .container
        .rino10Options__title.rino10Title.rino10Title--pink
            |КАПЛИ РИНОСТОП 
            span ® 
            |ЭКСТРА ЭТО
        .rino10Options__items.rino10Options__items--extra
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-1.jpg")
                .rino10Options__item__title УВЕРЕННОСТЬ
                .rino10Options__item__text
                    |Благодаря сосудосуживающему действию РИНОСТОП® ЭКСТРА при нанесении на воспаленную слизистую оболочку полости носа способствует уменьшению ее отечности, заложенности носа, выделений из носа, тем самым помогая уменьшить симптомы ринита и облегчить носовое дыхание
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-2.jpg")
                .rino10Options__item__title СКОРОСТЬ
                .rino10Options__item__text
                    |Согласно инструкции по медицинскому применению капель РИНОСТОП® ЭКСТРА, после нанесения на слизистую носа активность РИНОСТОП® ЭКСТРА начинается через несколько минут и продолжается до 12 часов. 
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-3.jpg")
                .rino10Options__item__title МОЛЕКУЛЫ СРЕДСТВ
                .rino10Options__item__text
                    |Активная молекула – МНН оксиметазолин – обладает наиболее продолжительным терапевтической активностью – до 12 часов, в отличие от других МНН, применяемых для лечения насморка (МНН нафазолин, МНН ксилометазолин, МНН фенилэфрин)*
                    span * Заплатников А.Л. Топические деконгестанты в педиатрической практике: безопасность и клиническая эффективность. Педиатрия №6, 2006 г, с. 69-75.
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-4.jpg")
                .rino10Options__item__title МЯГКОСТЬ
                .rino10Options__item__text
                    |Действующее вещество -  МНН оксиметазолин - обладает более мягким влиянием на слизистую оболочку носа по сравнению с МНН нафазолин* 
                    span *4.Геппе Н.А., Озерская И.В. Факторы, влияющие на состояние цилиарного эпителия и мукоцилиарный клиренс. Эффективная фармакотерапия. Пульмонология и  оторинология. №2, 2011.
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-5.jpg")
                .rino10Options__item__title СПЕЦИАЛЬНО ДЛЯ ДЕТЕЙ 
                .rino10Options__item__text
                    |Капельная форма выпуска РИНОСТОП® ЭКСТРА создана специально для нежного детского носика, т.к. капли позволяют бережно и, поэтому, безопасно ввести препарат в маленький носик ребенка, минимизирует тем самым риск повреждения слизистой оболочки миниатюрного носика ребенка
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-6.jpg")
                .rino10Options__item__title КОМФОРТ
                .rino10Options__item__text
                    |При местном применении в терапевтических концентрациях, согласно возрастной дозировке и рекомендуемым схемам лечения, РИНОСТОП® ЭКСТРА  не вызывает гиперемию и раздражение слизистой оболочки полости носа
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-7.jpg")
                .rino10Options__item__title ЭКОНОМИЯ СРЕДСТВ
                .rino10Options__item__text
                    |Для более гибкого подхода к лечению созданы отдельные концентрации РИНОСТОП® ЭКСТРА для разных возрастных групп:<br/><br/>
                    div капли назальные 0,01% - 10 мл: для детей с первых дней жизни
                    div капли назальные 0,025% - 10 мл: для детей с 1 года до 6 лет
                    div капли назальные 0,05% - 10 мл: для детей с 6 лет и взрослых
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-8.jpg")
                .rino10Options__item__title Беременность 
                .rino10Options__item__text
                    |В отличие от других МНН (нафазолин, ксилометазолин), действующее вещество РИНОСТОП® ЭКСТРА  - МНН оксиметазолин - возможно к применению у беременных после консультации с врачом*
                    span * Согласно ИМП препаратов с данными МНН представленными на сайте ГРЛС от 24.07.17.
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-extra-9.jpg")
                .rino10Options__item__title ЭКОНОМИЯ
                .rino10Options__item__text
                    |Доступная цена*
                    span * IMS, категория препаратов для лечения насморка (местные), МНН оксиметазолин, январь-июль 2017 г.
.rino10Using
    .container
        .rino10Using__title.rino10Title.rino10Title--pink
            |КАК ИСПОЛЬЗОВАТЬ капли РИНОСТОП  
            span ®
            |Экстра для детей: 
        .rino10Using__bigText Для большей эффективности лечения предварительно (перед использованием) препарата необходимо прочистить носовой ход путем высмаркивания, очищения с помощью аспиратора (у маленьких детей, не способных к самостоятельному отсмаркиванию), либо промыванием носовой полости средством на основе морской воды, например РИНОСТОП® АКВА НОРМ (для взрослых и детей с 3 лет) или РИНОСТОП® АКВА БЕБИ (для детей с первых дней жизни)
        .rino10Using__items.rino10Using__items--extra
            .rino10Using__items__wrap
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-extra-1.png")
                    .rino10Using__item__text Взять капли РИНОСТОП® ЭКСТРА в соответствии с возрастной дозировкой. Снять защитный колпачок с флакона
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-extra-2.png")
                    .rino10Using__item__text Положить ребенка на спину. У детей более старшего возраста и у взрослых запрокинуть голову
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-extra-3.png")
                    .rino10Using__item__text Ввести по 1-2 капли препарата в каждый носовой ход (детям в возрасте до 4-х недель применять по 1 капле) 2-3 раза в сутки
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-extra-4.png")
                    .rino10Using__item__text Очистить насадку после использования и закрыть флакон защитным колпачком
