footer.wrapper.footer#footer
    .container
        .footer__topLine.clearfix
            a(href="#").footer__logo
                img(src="./img/bigLogo.png")
            nav.footer__nav
                .footer__nav__itemWrap 
                    a(href="#").footer__nav__item Обратная связь
                .footer__nav__itemWrap 
                    a(href="#").footer__nav__item Карта сайта
            a(href="#").footer__topLine__smallLogo
                img(src="./img/otc-logo.png")
        .footer__botLine
            .footer__botLine__info.
                ПАО «Отисифарм» 123317 г. Москва, ул. Тестовская, д.10 info@otcpharm.ru
