.normTop.topSectionBg.topSectionBg--forte
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Главная риностоп аква
                a(href="#").breadcrumbs__link Риностоп аква Форте
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .normTop__wrap
            .normTop__rino
                span.normTop__rino__img
                    img(src="./img/other-svg/rino-blue.svg")
                span.normTop__rino__words природная сила<br />морской воды
            .normTop__drug.normTop__drug--wrap.rotationMobile
                .normTop__drug__rotationWrap
                    .normTop__drug__img
                        img(src="./img/forte-banka.png")
                    span.normTop__drug__option.normTop__drug__option--top
                        span.normTop__drug__textSign
                        |гипертонический раствор
                    span.normTop__drug__option.normTop__drug__option--center
                        span.normTop__drug__textSign
                        |с 6 месяцев
                    span.normTop__drug__option.normTop__drug__option--bottom
                        span.normTop__drug__textSign
                        |равномерное орошение
                    span.normTop__drug__numbers.normTop__drug__numbers--soft
                        |125 мл
                    .normTop__drug__btnWrap.js-rotationFalse
                        button(type="button").normTop__downloadBtn.downloadBtn
                            span.downloadBtn__text скачать инструкцию
                            span.downloadBtn__icon
                                +icon('download')
                        span.normTop__drug__label *Изделие медицинского назначение
                .normTop__drug__rotationWrap.normTop__drug__rotationWrap--second
                    .normTop__drug__img
                        img(src="./img/forte-banka-2.png")
                    span.normTop__drug__option.normTop__drug__option--top
                        span.normTop__drug__textSign
                        |гипертонический раствор
                    span.normTop__drug__option.normTop__drug__option--center
                        span.normTop__drug__textSign
                        |с 6 месяцев
                    span.normTop__drug__option.normTop__drug__option--bottom
                        span.normTop__drug__textSign
                        |равномерное орошение
                    span.normTop__drug__numbers.normTop__drug__numbers--soft
                        |50 мл удобная карманная форма
            .normTop__drug.normTop__drug--wrap.js-rotatitonZone.ritationDesktop
                .normTop__drug__rotationWrap.js-drug1.js-frontItem.js-activeLabels
                    .normTop__drug__img
                        img(src="./img/forte-banka.png")
                    span.normTop__drug__option.normTop__drug__option--top.js-drugLabel 
                        span.normTop__drug__textSign
                        |гипертонический раствор
                    span.normTop__drug__option.normTop__drug__option--center.js-drugLabel 
                        span.normTop__drug__textSign
                        |с 6 месяцев    
                    span.normTop__drug__option.normTop__drug__option--bottom.js-drugLabel
                        span.normTop__drug__textSign
                        |равномерное орошение
                    span.normTop__drugOther.js-drugCapacity 125 мл
                    span.normTop__drug__numbers.normTop__drug__numbers--babe.js-drugLabel 125 мл
                .normTop__drug__rotationWrap.normTop__drug__rotationWrap--second.js-drug2.backTop.js-activeCapacity
                    .normTop__drug__img
                        img(src="./img/forte-banka-2.png")
                    span.normTop__drug__option.normTop__drug__option--top.js-drugLabel 
                        span.normTop__drug__textSign
                        |гипертонический раствор
                    span.normTop__drug__option.normTop__drug__option--center.js-drugLabel 
                        span.normTop__drug__textSign
                        |с 6 месяцев
                    span.normTop__drug__option.normTop__drug__option--bottom.js-drugLabel 
                        span.normTop__drug__textSign
                        |равномерное орошение
                    span.normTop__drugOther.normTop__drugOther--small.js-drugCapacity  50 мл удобная карманная форма
                    span.normTop__drug__numbers.normTop__drug__numbers--babe.js-drugLabel 50 мл
                .normTop__drug__btnWrap.normTop__drug__btnWrap--pos.js-rotationFalse
                    button(type="button").normTop__downloadBtn.downloadBtn
                        span.downloadBtn__text скачать инструкцию
                        span.downloadBtn__icon
                            +icon('download')
                    span.normTop__drug__label *Изделие медицинского назначение

.domainSection.domainSection--forte
    .domainSection__wrapper
        .container
            .domainSection__title.domainSection__title--forte
                |СФЕРА ПРИМЕНЕНИЯ<br />спрея 
                span.domainSection__title__black РИНОСТОП
                span.domainSection__title__item.domainSection__title__black ®
                span.domainSection__title__black аква форте
            .domainSection__content.domainSection__content--forte
                span.domainSection__mainImg
                    img(src='./img/forte-domain.jpg') 
                span.domainSection__items.domainSection__items--1
                    .domainSection__itemsTitle при сильной заложенности носа:
                    span уменьшает отечность слизистой при простуде, синуситах и аллергии
                    span способствует восстановлению носового дыхания и очищению околоносовых пазух
                    span в качестве альтернативы и при невозможности использовать сосудосуживающие средства:
                    .domainSection__itemsInner
                        span при затяжных или хронических ринитах и синуситах (в т.ч. гайморите)
                        span в период беременности и кормления грудью
                        span у пожилых и лиц с заболеваниями сердечно-сосудистой системы 
                span.domainSection__items.domainSection__items--2
                    .domainSection__itemsTitle после хирургических вмешательств в полости носа и околоносовых пазухах:
                    span оказывает противовоспалительное действие
                    span уменьшает отек слизистой оболочки полости носа и носоглотки
                    span обеспечивает мягкий уход и гигиену в постоперационном периоде
                    span ускоряет процессы регенерации и восстановления слизистой
                    span снижает риск развития осложнений
                span.domainSection__items.domainSection__items--3
                    .domainSection__itemsTitle при местной терапии различных заболеваний носа и пазух:
                    span повышает терапевтическую эффективность лекарственных средств, наносимых на слизистую оболочку полости носа (сосудосуживающие, антибиотики, противоаллергические и др.)
                    span уменьшает потребление локальных лекарственных средств и риск возникновения побочных эффектов
                span.domainSection__items.domainSection__items--7
                span.domainSection__items.domainSection__items--8
                span.domainSection__imgItem
                    img(src="./img/forte-domain-img-1.png")
                span.domainSection__imgItem.domainSection__imgItem--2
                    img(src="./img/forte-domain-img-2.png")
            
.dignity
    .container
        .dignity__title.dignity__title--forte
            |ДОСТОИНСТВА<br />
            span.domainSection__title__black РИНОСТОП
            span.domainSection__title__item.domainSection__title__black ®
            span.domainSection__title__black аква форте
        .dignity__wrapper
            .dignity__slider.dignity__slider--forte.js-dignitySlider
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName ФОРТЕ
                        span.dignity__sliderOption уменьшение отека и заложенности носа
                        span.dignity__sliderOption облегчение и восстановление носового дыхания
                        span.dignity__sliderOption создание условий для очищения околоносовых пазух
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-forte.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName ФОРТЕ
                        span.dignity__sliderOption уменьшение отека и заложенности носа
                        span.dignity__sliderOption облегчение и восстановление носового дыхания
                        span.dignity__sliderOption создание условий для очищения околоносовых пазух
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-forte.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName ФОРТЕ
                        span.dignity__sliderOption уменьшение отека и заложенности носа
                        span.dignity__sliderOption облегчение и восстановление носового дыхания
                        span.dignity__sliderOption создание условий для очищения околоносовых пазух
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-forte.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName ФОРТЕ
                        span.dignity__sliderOption уменьшение отека и заложенности носа
                        span.dignity__sliderOption облегчение и восстановление носового дыхания
                        span.dignity__sliderOption создание условий для очищения околоносовых пазух
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-forte.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item.png")
            .dignity__items.dignity__items--forte
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-1.png")
                    .dignity__itemTitle 100% натуральная морская вода 
                    .dignity__itemText без консервантов, стабилизаторов и иных веществ, способных вызывать раздражение слизистой полости носа
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-2.png")
                    .dignity__itemTitle концентрированный раствор с гипертонической концентрацией соли
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-3.png")
                    .dignity__itemTitle физиологичное уменьшение даже сильной заложенности носа и отека слизистой 
                    .dignity__itemText благодаря осмотическому действию гипертонического раствора соли (вытягивает избыток жидкости из тканей)
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-4.png")
                    .dignity__itemTitle возможность длительного (до 3-х месяцев) применения без привыкания, формирования зависимости или синдрома отмены
                    .dignity__itemText
                        |возможность длительного (до 3-х месяцев) применения без привыкания, формирования зависимости или синдрома отмены
                        span.first хронических ринитах
                        span хронических синуситах
                        span хронических аденоидитах
                        span хронических аденоидитах
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-5.png")
                    .dignity__itemTitle наличие у гипертонического раствора соли дополнительных антимикробных и противовоспалительных свойств
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-6.png")
                    .dignity__itemTitle простота и удобство применения
                    .dignity__itemText анатомическая насадка-распылитель
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-7.png")
                    .dignity__itemTitle деликатное воздействие на слизистую оболочку полости носа
                    .dignity__itemText за счет распыления морской воды в виде «душа», не сушит слизистую
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-8.png")
                    .dignity__itemTitle удобная анатомическая насадка-распылитель
                    .dignity__itemText предупреждающая соскальзывание пальцев во время использования и травмирование слизистой
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-9.png")
                    .dignity__itemTitle отсутствие риска передозировки и взаимодействия с другими лекарственными средствами
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-forte-10.png")
                    .dignity__itemTitle наличие дополнительной удобной «карманной» формы выпуска
                    .dignity__itemText спрея РИНОСТОП АКВА ФОРТЕ объемом 50 мл для использования в общественных местах (детский сад, школа, транспорт, кинотеатр, офис и др.)

.spreyUsing.spreyUsing--forte
    .container
        .spreyUsing__wrapper
            .spreyUsing__title
                |КАК ИСПОЛЬЗОВАТЬ СПРЕЙ РИНОСТОП
                span.spreyUsing__titleItem ®
                | аква форе:  
            .spreyUsing__itemFor.spreyUsing__itemFor--forte
                span.spreyUsing__itemForText.js-backContent ДЕТЯМ СТАРШЕ 2-х ЛЕТ И ВЗРОСЛЫМ
                .normTop__drug__btnWrap
                    button(type="button").normTop__downloadBtn.downloadBtn
                        span.downloadBtn__text скачать инструкцию
                        span.downloadBtn__icon
                            +icon('download')
            a(href="#").spreyUsing__itemChild.js-changeBtn
                span ДЕТЯМ<br />ДО 2-х ЛЕТ
                |орошение производить в положении ребенка лежа на боку
            .spreyUsing__content
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |Высморкаться, чтобы очистить полость носа от слизи перед использованием РИНОСТОП® АКВА ФОРТЕs
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |снять прозрачный защитный колпачок с баллончика
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |Наклониться вперед над раковиной и повернуть голову вбок. Аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху.Нажать на распылитель и производить введение раствора в течении нескольких секунд
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |Наклонить голову в противоположную сторону и провести процедуру с другим носовым ходом.
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |Высморкаться, используя правильную технику: слегка приоткрыв рот, зажимая по очереди одну ноздрю, с небольшим усилием продувать вторую.
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/forteUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |Хорошо промыть насадку-распылитель теплой водой и вытереть насухо
                

                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |очистить носовые ходы ребенка перед использованием РИНОСТОП® АКВА БЕБИ
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |снять прозрачный защитный колпачок с баллончика повернуть ребенка на бок, аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху, нажать на распылитель и вводить раствор в течение нескольких секунд.
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |повернуть ребенка на другой бок и провести процедуру с другим носовым ходом
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |вернуть ребенка в вертикальное положение, позволяя раствору оказать действие в течение нескольких секунд, затем очистить полость носа аспиратором
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |детям до 2-х лет сморкаться не рекомендуется из-за риска развития отита, вытереть остатки
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |после каждого использования хорошо промывать носовую насадку-распылитель горячей водой и вытирать насухо

.spreySchedule.spreySchedule--forte
    .spreySchedule__clock
        img(src="./img/clock.png")
    .container
        .spreySchedule__title
            |КРАТНОСТЬ ПРИМЕНЕНИЯ
            span.domainSection__title__black СПРЕЙ РИНОСТОП
                span.spreySchedule__titleItem ®
                | аква форте:  
        .spreySchedule__content
            .spreySchedule__center
                img(src="./img/schedule-purple.png")
            .spreySchedule__rightItem
                |Лечение*
                span 4-6 раз в день
                .italic *в составе комплексной терапии: 
            
            
            
            
            
            
