header.wrapper.header.header--home#header
    div.header__wrap
        .container
            
            nav.header__nav
                a(href="#").header__homeBtn
                    +icon('home')
                .header__nav__itemBlock.js-drugsBtn
                    a(href="#").header__nav__item препАраты
                    .header__nav__drugsMenu.js-drugsMenu
                        .header__drugsType
                            .header__drugsType__title
                                |Рино
                                span стоп
                            .header__drugsType__catalog
                                a(href="#").header__drugsType__item
                                    img(src="./img/drugs-item-green.png")
                                    span Для взрослых и детей с 6 лет
                                a(href="#").header__drugsType__item
                                    img(src="./img/drugs-item-green.png")
                                    span Для взрослых и детей с 6 лет
                        .header__drugsType.header__drugsType
                            .header__drugsType__title.header__drugsType__title--blue
                                |Рино
                                span стоп
                                |аква
                            .header__drugsType__catalog.header__drugsType__catalog--blue
                                a(href="#").header__drugsType__item
                                    img(src="./img/drugs-item-blue.png")
                                    span Для взрослых и детей с 6 лет
                                a(href="#").header__drugsType__item
                                    img(src="./img/drugs-item-blue.png")
                                    span Для взрослых и детей с 6 лет
                                a(href="#").header__drugsType__item
                                    img(src="./img/drugs-item-blue.png")
                                    span Для взрослых и детей с 6 лет
                                a(href="#").header__drugsType__item
                                    img(src="./img/drugs-item-blue.png")
                                    span Для взрослых и детей с 6 лет
                .header__nav__itemBlock.js-articlesBtn
                    a(href="#").header__nav__item строение<br />и функции носа
                    .header__articlesMenu.js-articlesMenu
                        ul.header__articlesMenu__list
                            li.header__articlesMenu__item
                                a(href="#") Строение и функции носа
                            li.header__articlesMenu__item
                                a(href="#") Анатомия
                            li.header__articlesMenu__item
                                a(href="#") Заболевания носа и пазух
                            li.header__articlesMenu__item
                                a(href="#") Заболевания носа и пвыаыва
                            li.header__articlesMenu__item
                                a(href="#") морская вода
                .header__nav__itemBlock
                    a(href="#").header__nav__item заболевания<br />носа и пазух
                .header__nav__itemBlock
                    a(href="#").header__nav__item сосудосуживающие<br />средства
                .header__nav__itemBlock
                    a(href="#").header__nav__item морская вода
                .header__nav__itemBlock
                    a(href="#").header__nav__item полезная<br />информация
            
