.indexPage.topSectionBg.topSectionBg--index
    .container
        .indexPage__item
            .indexPage__logo.indexPage__logo--blue
                span
                    img(src="./img/other-svg/rino-red.svg")
            .indexPage__slogan 
                a(href="#") сила научных достижений
            .indexPage__info
                span.indexPage__info__textWrap
                    img(src="./img/other-svg/textWrap-triangle.svg")
                .indexPage__info__text
                    span.green РИНО
                    span.red СТОП
                    | – лекарственный сосудосуживающий препарат для лечения насморка у взрослых и детей по доступной цене. 
        .indexPage__item
            .indexPage__logo.indexPage__logo--blue
                span
                    img(src="./img/other-svg/rino-blue.svg")
            .indexPage__slogan.indexPage__slogan--blue
                a(href="#") природная сила<br />морской воды
            .indexPage__info.indexPage__info--right
                span.indexPage__info__textWrap
                    img(src="./img/other-svg/textWrap-circle.svg")
                .indexPage__info__text
                    span.lightBlue РИНО
                    span.darkBlue СТОП 
                    span.lightBlue АКВА 
                    |– это серия средств на основе 100% морской воды в форме спреев для орошения и промывания полости носа у взрослых и детей.
                    span.italic *Изделие медицинского назначения
        .indexPage__btnBlock
            button(type="button").testBtn Пройти тест
            span какой Риностоп <br />подходит именно мне