.popupWrap.js-popup
    .popupTest
        .popupTest__head тест
        .popupTest__body
            .popupTest__smallTitle Какая цель подбора средства?
            .popupTest__btnsWrap
                a(href="#").popupTest__btn
                    span.popupTest__btnInner Ежедневная гигиена и профилактика простуд 
                a(href="#").popupTest__btn
                    span.popupTest__btnInner Течение из носа при простуде
                a(href="#").popupTest__btn
                    span.popupTest__btnInner Сильная заложенность носа при простуде
                a(href="#").popupTest__btn
                    span.popupTest__btnInner Аллергия
                a(href="#").popupTest__btn
                    span.popupTest__btnInner Сухость в носу
            .popupTest__bigTitle Риностоп Аква Софт
            .popupTest__bigTitle.popupTest__bigTitle--pink Риностоп Аква Беби
            .popupTest__bigTitleюpopupTest__bigTitle--blue Риностоп Аква НОРМ
            .popupTest__resultOne
                ..popupTest__result

.indexPage.topSectionBg.topSectionBg--index
    .container
        .indexPage__item
            .indexPage__logo.indexPage__logo--blue
                span
                    img(src="./img/other-svg/rino-red.svg")
            .indexPage__slogan 
                a(href="#") сила научных достижений
            .indexPage__info
                span.indexPage__info__textWrap
                    img(src="./img/other-svg/textWrap-triangle.svg")
                .indexPage__info__text
                    span.green РИНО
                    span.red СТОП
                    | – лекарственный сосудосуживающий препарат для лечения насморка у взрослых и детей по доступной цене. 
        .indexPage__item
            .indexPage__logo.indexPage__logo--blue
                span
                    img(src="./img/other-svg/rino-blue.svg")
            .indexPage__slogan.indexPage__slogan--blue
                a(href="#") природная сила<br />морской воды
            .indexPage__info.indexPage__info--right
                span.indexPage__info__textWrap
                    img(src="./img/other-svg/textWrap-circle.svg")
                .indexPage__info__text
                    span.lightBlue РИНО
                    span.darkBlue СТОП 
                    span.lightBlue АКВА 
                    |– это серия средств на основе 100% морской воды в форме спреев для орошения и промывания полости носа у взрослых и детей.
                    span.italic *Изделие медицинского назначения
        .indexPage__btnBlock.js-testBtn
            button(type="button").testBtn Пройти тест
            span какой Риностоп <br />подходит именно мне