.indexPage.indexPage--sprey.topSectionBg.topSectionBg--indexSprey
    .container
        .indexPage__item
            .indexPage__logo
                span
                    img(src="./img/other-svg/rino-red.svg")
            .indexPage__slogan 
                a(href="#") сила научных<br />достижений
            .indexPage__info.indexPage__info--sprey
                .indexPage__info__item
                    .indexPage__info__sprey.indexPage__info__sprey--sprey
                        img(src="./img/sprey-light.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        span.indexPage__info__textNew новинка
                        |для детей с первых дней жизни  
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--purpleLight подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-triangleSmall.svg")
                .indexPage__info__item
                    .indexPage__info__sprey.indexPage__info__sprey--sprey
                        img(src="./img/sprey-middle.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        span.indexPage__info__textNew новинка
                        |для детей с 1 года и до 6 лет   
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--purpleMiddle подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-triangleSmall.svg")
                .indexPage__info__item
                    .indexPage__info__sprey.indexPage__info__sprey--sprey
                        img(src="./img/sprey-strong.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        span.indexPage__info__textNew новинка
                        |для детей с 6 лет и взрослых    
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--purpleStrong подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-triangleSmall.svg")
                .indexPage__info__item
                    .indexPage__info__sprey.indexPage__info__sprey--sprey
                        img(src="./img/sprey-green.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        |для детей<br />от 2 до 6 лет    
                        button(type="button").indexPage__info__textBtn подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-triangleSmall.svg")
                .indexPage__info__item
                    .indexPage__info__sprey.indexPage__info__sprey--sprey
                        img(src="./img/sprey-blue.png")
                    .indexPage__info__text.indexPage__info__text--sprey
                        |для детей старше<br />6 лет и взрослых     
                        button(type="button").indexPage__info__textBtn.indexPage__info__textBtn--blue подробней
                        span.indexPage__info__textWrap
                            img(src="./img/other-svg/textWrap-triangleSmall.svg")
                
