.normTop.topSectionBg.topSectionBg--norm
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Главная риностоп аква
                a(href="#").breadcrumbs__link Риностоп аква НОРМ
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .normTop__wrap
            .normTop__rino
                span.normTop__rino__img
                    img(src="./img/other-svg/rino-blue.svg")
                span.normTop__rino__words природная сила<br />морской воды
            .normTop__drug
                .normTop__drug__img
                    img(src="./img/norm-banka.png")
                span.normTop__drug__option.normTop__drug__option--top
                    span.normTop__drug__textSign
                    |изотонический раствор
                span.normTop__drug__option.normTop__drug__option--center
                    span.normTop__drug__textSign
                    |с 3-х лет
                span.normTop__drug__option.normTop__drug__option--bottom
                    span.normTop__drug__textSign
                    |интенсивное промывание
                span.normTop__drug__numbers 125 мл
                .normTop__drug__btnWrap
                    button(type="button").normTop__downloadBtn.downloadBtn
                        span.downloadBtn__text скачать инструкцию
                        span.downloadBtn__icon
                            +icon('download')
                    span.normTop__drug__label *Изделие медицинского назначение

.domainSection
    .domainSection__wrapper
        .container
            .domainSection__title
                |СФЕРА ПРИМЕНЕНИЯ<br />спрея 
                span.domainSection__title__black РИНОСТОП
                span.domainSection__title__item.domainSection__title__black ®
                span.domainSection__title__black аква норм
            .domainSection__content
                span.domainSection__mainImg
                    img(src='./img/norm-domain.jpg') 
                span.domainSection__items.domainSection__items--1
                    span интенсивное промывание полости носа и носоглотки при насморке любого происхождения, в том числе на фоне простудных 	заболеваний.
                    span помощь восстановление носового дыхания при насморке с обильными выделениями
                span.domainSection__items.domainSection__items--2
                    span стимуляция защитной функции реснитчатого эпителия и повышение 	местного иммунитета. 
                    span ежедневное промывание носа в сезон простуд с целью профилактики
                span.domainSection__items.domainSection__items--3
                    span активное очищение всех отделов полости носа и носоглотки от бактерий, вирусов, корок, слизисто-гнойных выделений, частиц пыли и аллергенов
                span.domainSection__items.domainSection__items--4
                    span помощь в сокращении продолжительности простудного заболевания
                span.domainSection__items.domainSection__items--5
                    span комплексная терапия ринитов на фоне респираторных заболеваний, в т.ч. гриппа и ОРВИ
                span.domainSection__items.domainSection__items--6
                    span подготовка слизистой носа к применению других лекарственных средств местного действия (например, сосудосуживающих препаратов)
                span.domainSection__items.domainSection__items--7
                span.domainSection__items.domainSection__items--8
                span.domainSection__imgItem
                    img(src="./img/norm-domain-img-1.png")
                span.domainSection__imgItem.domainSection__imgItem--2
                    img(src="./img/norm-domain-img-2.png")
                
.dignity
    .container
        .dignity__title
            |ДОСТОИНСТВА<br />
            span.domainSection__title__black РИНОСТОП
            span.domainSection__title__item.domainSection__title__black ®
            span.domainSection__title__black аква норм
        .dignity__wrapper
            .dignity__slider.js-dignitySlider
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName норм
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: струя
                        span.dignity__sliderOption интенсивное промывание
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-blue.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-norm.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName норм
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: струя
                        span.dignity__sliderOption интенсивное промывание
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-blue.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-norm.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName норм
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: струя
                        span.dignity__sliderOption интенсивное промывание
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-blue.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-norm.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName норм
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: струя
                        span.dignity__sliderOption интенсивное промывание
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-blue.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-norm.png")
                
            .dignity__items
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-1.png")
                    .dignity__itemTitle 100% натуральный состав 
                    .dignity__itemText не содержит консервантов, стабилизаторов и других химических веществ, способных вызывать раздражение слизистой носа
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-2.png")
                    .dignity__itemTitle распыление в форме «струи»  
                    .dignity__itemText обеспечивает интенсивное, тщательное и качественное очищение полости носа и носоглотки
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-3.png")
                    .dignity__itemTitle непрерывная подача струи 
                    .dignity__itemText непрерывная подача струи морской воды позволяет самостоятельно контролировать продолжительность процесса промывания полости носа
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-4.png")
                    .dignity__itemTitle микробиологическая чистота
                    .dignity__itemText внутреннее антисептическое покрытие баллона, герметичность соединения баллона и одностороннего клапана предотвращают попадание воздуха и бактерий внутрь
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-5.png")
                    .dignity__itemTitle ЛЮБОЕ ПОЛОЖЕНИЕ БАЛЛОНА
                    .dignity__itemText возможность применения при любом положении баллона
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-6.png")
                    .dignity__itemTitle применение при беременности
                    .dignity__itemText возможность использования РИНОСТОП АКВА НОРМ в период беременности и кормления грудью
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-7.png")
                    .dignity__itemTitle насадка флакона
                    .dignity__itemText форма распылительной насадки флакона разработана с учетом анатомии носовой полости, что предупреждает травмирование 
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-8.png")
                    .dignity__itemTitle Съемная конструкция
                    .dignity__itemText позволяет промывать ее после каждого применения, поддерживая чистоту и предупреждая размножение микробов на ее поверхности 
            
.spreyUsing
    .container
        .spreyUsing__wrapper
            .spreyUsing__title
                |КАК ИСПОЛЬЗОВАТЬ СПРЕЙ РИНОСТОП
                span.spreyUsing__titleItem ®
                | аква норм:  
            .spreyUsing__itemFor 
                span.spreyUsing__itemForText ДЕТЯМ СТАРШЕ 2-х ЛЕТ И ВЗРОСЛЫМ
                .normTop__drug__btnWrap
                    button(type="button").normTop__downloadBtn.downloadBtn
                        span.downloadBtn__text скачать инструкцию
                        span.downloadBtn__icon
                            +icon('download')
            .spreyUsing__content
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/spreyUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |Высморкаться, чтобы очистить полость носа от слизи перед использованием РИНОСТОП® АКВА НОРМ
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/spreyUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |Снять прозрачный защитный колпачек с баллончика
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/spreyUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |Наклониться вперед над раковиной и повернуть голову вбок. Аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху.Нажать на распылитель и производить введение раствора в течении нескольких секунд
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/spreyUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |Наклонить голову в противоположную сторону и провести процедуру с другим носовым ходом.
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/spreyUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |Высморкаться, используя правильную технику: слегка приоткрыв рот, зажимая по очереди одну ноздрю, с небольшим усилием продувать вторую.
                .spreyUsing__item
                    .spreyUsing__itemImg
                        img(src="./img/spreyUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |Хорошо промыть насадку-распылитель теплой водой и вытереть насухо
                        

.spreySchedule
    .spreySchedule__clock
        img(src="./img/clock.png")
    .container
        .spreySchedule__title
            |КРАТНОСТЬ ПРИМЕНЕНИЯ
            span.domainSection__title__black СПРЕЙ РИНОСТОП
                span.spreySchedule__titleItem ®
                | аква норм:  
        .spreySchedule__content
            .spreySchedule__leftItem
                |Профилактика ежедневная гигиена 
                span 2 раза в день
            .spreySchedule__center
                img(src="./img/schedule-blue.png")
            .spreySchedule__rightItem
                |Лечение*
                span 4-6 раз в день
                .italic *в составе комплексной терапии: 
            
            
            
            
            
            
