.careTop.topSectionBg.topSectionBg--nose
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Сосудосуживающие средства
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .careTop__text ФУНКЦии носа

.noseBlock
    .container
        .noseBlock__title Функции носа
        .noseBlock__text.noseBlock__text--width Значение носа в жизни человека неоценимо. Данный орган является начальным отделом дыхательного тракта. Именно через него проходит вдыхаемый и выдыхаемый воздух. Чтобы лучше понять, насколько важно сохранять нормальное носовое дыхание, рассмотрим детально все функции носа.
        .noseBlock__wrap
            .noseBlock__item
                .noseBlock__textBlock
                    .noseBlock__textWrap
                        .noseBlock__textTitle Дыхательная
                        .noseBlock__text Именно дыхательная является основной функцией носа. Носовое дыхание обеспечивает поступление кислорода к тканям организма, что необходимо для газообмена крови и нормальной жизнедеятельности. У взрослого человека с правильным строением носа при отсутствии каких-либо заболеваний через носовую полость проходит 500 см³ воздуха при одном вдохе. За 1 минуту происходит порядка 16–18 вздохов, что обеспечивает приток около 9 л воздуха. Если дыхательная функция носа нарушена, то возникают изменения в течении окислительных процессов в организме. В свою очередь, это может приводить к нарушениям деятельности нервной, сердечно-сосудистой, пищеварительной и других систем организма.
                .noseBlock__itemImg
                    img(src="./img/nose-img-1.png", alt="")
            .noseBlock__item.noseBlock__item--sides
                .noseBlock__textBlock
                    .noseBlock__textWrap
                        .noseBlock__textTitle Обонятельная
                        .noseBlock__text Нос является одним из важнейших органов чувств. С помощью него человек может воспринимать все многообразие запахов, которое его окружает. Обонятельная функция носа реализуется за счет особых обонятельных рецепторов, находящихся в носовой полости. С помощью запахов мы можем оценить качество пищи, принимать сигналы об опасности и многое другое. Клетки, ответственные за обоняние, находятся в верхней части носовой полости. При рините и других патологиях возникают проблемы с работой слизистой оболочки носа, что неизбежно ведет к нарушению обонятельной функции (гипосмии) или полной ее потере (аносмии).
                .noseBlock__itemImg
                    img(src="./img/nose-img-2.png", alt="")
            .noseBlock__item
                .noseBlock__textBlock
                    .noseBlock__textWrap
                        .noseBlock__textTitle Защитная
                        .noseBlock__text Воздух, входя в носовую полость, очищается от частиц крупнодисперсной пыли. Эту функцию выполняют волоски, растущие в преддверии носа. Более мелкие частицы и бактерии склеиваются слизью с лизоцимом и муцином, которую выделяют бокаловидные клетки. Загрязнения оседают на слизистой оболочке. А последующий вывод этих веществ обеспечивается благодаря безостановочному колебанию ресничек мерцательного эпителия. Также очищение полости носа происходит при чихании, носовом кашле и слезотечении. Данные механизмы запускаются организмом рефлекторно. Еще одной защитной функцией носа является согревание и увлажнение воздуха. В данном процессе также активно участвует слизистая оболочка, которая обильно снабжается кровью. Необходимо помнить, что такая вредная привычка, как курение, может нарушать деятельность мерцательного эпителия, что ослабляет организм и повышает риск заражения инфекцией.
                .noseBlock__itemImg
                    img(src="./img/nose-img-3.png", alt="")
            .noseBlock__item.noseBlock__item--sides
                .noseBlock__textBlock
                    .noseBlock__textWrap
                        .noseBlock__textTitle Резонаторная
                        .noseBlock__text Физиологию полости носа можно сравнить с устройством акустической системы. Когда звук, произносимый человеком, достигает носовой полости и придаточных пазух, он усиливается. В частности, усиливаются тона голосов различной частоты. При прохождении звука через резонаторные полости, голос человека приобретает определенный, характерный именно для него, тембр. Стоит отметить, что нос играет ведущую роль в произношении носовых согласных. Вот почему при заложенности возникает гнусавость голоса, при которой звуки «м», «н», «г» произносятся неправильно.
                .noseBlock__itemImg
                    img(src="./img/nose-img-4.png", alt="")
        .noseBlock__footer
            .noseBlock__text Переоценить значение вышеназванных функций носа для человека невозможно, но существует еще один важный для многих нюанс – эстетические особенности данного органа. Иногда форма и размер носа не соответствуют представлениям его обладателя о красоте. В этом случае человек может пойти на пластическую операцию. Следует помнить, что проведение данной процедуры не должно затронуть дыхательную, обонятельную, защитную и резонаторную функции.