.questionTop.topSectionBg.topSectionBg--question
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Риностоп аква ФОРТЕ
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .questionTop__wrap
            .questionTop__text
                .questionTop__textTitle Вопрос - ответ
                .questionTop__textBlock
                    |В данном разделе собраны ответы на наиболее часто задаваемые вопросы. Мы постарались ответить на все. Однако, если вы не нашли ответ на свой вопрос, воспользуйтесь 
                    a(href="#") формой для обратной связи.
            .questionTop__sign
                img(src="./img/question.png", alt="#")

.questionInfo
    .container
        .questionInfo__mainTitle Раздел "вопрос- ответ" находится в разработке. Приносим свои извинения.
        .questionInfo__textBlock
            .questionInfo__title 
                |Как часто можно использовать Риностоп Аква Беби?
                a(href="#").questionInfo__openBtn.js-questionBtn
            .questionInfo__text.js-questionText.
                «Риностоп» - это спрей, капли, сироп и таблетки, которые обладают альфа-адриномиметической активностью на местном уровне. Данный препарат влияет на сужение маленьких кровеносных сосудов, находящихся в носовой полости. В результате его применения исчезает гиперемия, а также отечность. Кроме того, медикамент благоприятно сказывается на улучшении проходимости дыхательных путей. Лекарство действует на протяжении примерно десяти часов. «Риностоп» в виде сиропа или таблеток представляет собой комбинированный препарат, который обладает активностью обезболивающего вещества. Он характеризуется антигистаминным эффектом и применяется в качестве бронходилатирующего и противокашлевого средства.
        .questionInfo__textBlock
            .questionInfo__title 
                |Как часто можно использовать Риностоп Аква Беби?
                a(href="#").questionInfo__openBtn.js-questionBtn
            .questionInfo__text.js-questionText.
                «Риностоп» - это спрей, капли, сироп и таблетки, которые обладают альфа-адриномиметической активностью на местном уровне. Данный препарат влияет на сужение маленьких кровеносных сосудов, находящихся в носовой полости. В результате его применения исчезает гиперемия, а также отечность. Кроме того, медикамент благоприятно сказывается на улучшении проходимости дыхательных путей. Лекарство действует на протяжении примерно десяти часов. «Риностоп» в виде сиропа или таблеток представляет собой комбинированный препарат, который обладает активностью обезболивающего вещества. Он характеризуется антигистаминным эффектом и применяется в качестве бронходилатирующего и противокашлевого средства.
        .questionInfo__textBlock
            .questionInfo__title 
                |Как часто можно использовать Риностоп Аква Беби?
                a(href="#").questionInfo__openBtn.js-questionBtn
            .questionInfo__text.js-questionText.
                «Риностоп» - это спрей, капли, сироп и таблетки, которые обладают альфа-адриномиметической активностью на местном уровне. Данный препарат влияет на сужение маленьких кровеносных сосудов, находящихся в носовой полости. В результате его применения исчезает гиперемия, а также отечность. Кроме того, медикамент благоприятно сказывается на улучшении проходимости дыхательных путей. Лекарство действует на протяжении примерно десяти часов. «Риностоп» в виде сиропа или таблеток представляет собой комбинированный препарат, который обладает активностью обезболивающего вещества. Он характеризуется антигистаминным эффектом и применяется в качестве бронходилатирующего и противокашлевого средства.
        .questionInfo__textBlock
            .questionInfo__title 
                |Как часто можно использовать Риностоп Аква Беби?
                a(href="#").questionInfo__openBtn.js-questionBtn
            .questionInfo__text.js-questionText.
                «Риностоп» - это спрей, капли, сироп и таблетки, которые обладают альфа-адриномиметической активностью на местном уровне. Данный препарат влияет на сужение маленьких кровеносных сосудов, находящихся в носовой полости. В результате его применения исчезает гиперемия, а также отечность. Кроме того, медикамент благоприятно сказывается на улучшении проходимости дыхательных путей. Лекарство действует на протяжении примерно десяти часов. «Риностоп» в виде сиропа или таблеток представляет собой комбинированный препарат, который обладает активностью обезболивающего вещества. Он характеризуется антигистаминным эффектом и применяется в качестве бронходилатирующего и противокашлевого средства.
        .questionInfo__textBlock
            .questionInfo__title 
                |Как часто можно использовать Риностоп Аква Беби?
                a(href="#").questionInfo__openBtn.js-questionBtn
            .questionInfo__text.js-questionText.
                «Риностоп» - это спрей, капли, сироп и таблетки, которые обладают альфа-адриномиметической активностью на местном уровне. Данный препарат влияет на сужение маленьких кровеносных сосудов, находящихся в носовой полости. В результате его применения исчезает гиперемия, а также отечность. Кроме того, медикамент благоприятно сказывается на улучшении проходимости дыхательных путей. Лекарство действует на протяжении примерно десяти часов. «Риностоп» в виде сиропа или таблеток представляет собой комбинированный препарат, который обладает активностью обезболивающего вещества. Он характеризуется антигистаминным эффектом и применяется в качестве бронходилатирующего и противокашлевого средства.