.rino10Top.topSectionBg.topSectionBg--rino10Sprey
    .container
        .rino10Top__content
            .rino10Top__logo
                    img(src="./img/other-svg/rino-red.svg")
            .rino10Top__leftSide
                .rino10Top__leftSide__text сила научных<br />достижений
                button(type="button").rino10Top__leftSide__btn.downloadBtn
                    span.downloadBtn__text скачать инструкцию
                    span.downloadBtn__icon
                        +icon('download')
            .rino10Top__drug
                span.rino10Top__drug__img
                    img(src="./img/rino10-drug.png")
                span.rino10Top__drug__text для детей<br />от 2 до 6 лет
            .rino10Top__rightSide
                .rino10Top__rightSide__img
                    +icon('nose')
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--top Устраняет отечность и покраснение слизистой
                    span.rino10Top__rightSide__circle
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--center Борется с «заложенностью», восстанавливая проходимость носовых ходов
                    span.rino10Top__rightSide__circle
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--bottom Облегчает<br />носовое<br />дыхание
                    span.rino10Top__rightSide__circle
                        
.rino10Goods
    .container
        .rino10Goods__title.rino10Title
            |ДОСТОИНСТВА<br /> спрея РИНОСТОП
            span ®
            |для детей
        .rino10Goods__items
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/rino10--goods1.png")
                .rino10Goods__item__text
                    |Удобен в применении: всего 2-3 впрыскивания в сутки в каждый носовой ход
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/rino10--goods2.png")
                .rino10Goods__item__text
                    |Действие наступает быстро и продолжается до 10 часов*
                    span *согласно инструкции по медицинскому применению препарата Риностоп®
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/rino10--goods3.png")
                .rino10Goods__item__text
                    |Доступен по цене – стоит недорого*
                    span  *По данным IMS категории назальные средства местные розничная цена  на спрей Риностоп ниже  ниже  средней цены категории (цена спрея Риностоп 103 руб/уп, средняя цена категории 129 руб/уп)
                    
.rino10Options
    .container
        .rino10Options__title.rino10Title
            |спреЙ РИНОСТОП
            span ®
            |<br />для детей эТО-
        .rino10Options__items
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-blue-1.jpg")
                .rino10Options__item__title УВЕРЕННОСТЬ В ДЕЙСТВИИ
                .rino10Options__item__text
                    |благодаря устранению отека слизистой носа, спрей РИНОСТОП® способствует снятию заложенности носа и облегчает носовое дыхание. Действующее вещество спрея РИНОСТОП® – ксилометазолин – характеризуется обширной доказательной базой, подтверждающей надежность его действия и благоприятным профилем безопасности. *
                    span * И.А. Дронов, А.Б. Малахов. Возможности повышения эффективности и безопасности применения назальных деконгестантов у детей. «ЭФФЕКТИВНАЯ ФАРМАКОТЕРАПИЯ. Пульмонология и оториноларингология», №3 (39), 2013
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-blue-2.jpg")
                .rino10Options__item__title БЫСТРОТА и ПРОДОЛЖИТЕЛЬНОСТЬ ДЕЙСТВИЯ
                .rino10Options__item__text
                    |спрей РИНОСТОП® действует быстро и длительно* действие начинается уже через несколько минут после применения и продолжается до 10 часов, в отличие от препаратов старых поколений на основе нафазолина и фенилэфрина, имеющих короткий промежуток действия и высокую кратность применения в сутки.**
                    span **Заплатников А.П. Применение антиконгестантов при ОРВИ у детей. Практика педиатра, февраль 2010, с. 54-58
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-blue-3.jpg")
                .rino10Options__item__title МЯГКОСТЬ и ЩАДЯЩЕЕ ДЕЙСТВИЕ
                .rino10Options__item__text
                    |в отличие от препаратов на основе нафазолина ксилометазолин, входящий в состав спрея РИНОСТОП® характеризуется более щадящим и бережным действием на слизистую полости носа. *
                    div специально для детей спрей РИНОСТОП® выпускается в меньшей концентрации – 0,05%, что обеспечивает возможность его применения даже на нежной слизистой малышей с 2-х лет
                    div спрей сложно передозировать, а значит, меньше риск появления побочных эффектов по сравнению с традиционными средствами в форме капель. 
                    div при использовании пипетки не всегда удается соблюсти рекомендуемую дозу, сам раствор, нанесенный из пипетки не всегда способен равномерно распределиться по слизистой полости носа, часто незаметно стекает в носоглотку и проглатывается ребенком 
                    span при использовании пипетки не всегда удается соблюсти рекомендуемую дозу, сам раствор, нанесенный из пипетки не всегда способен равномерно распределиться по слизистой полости носа, часто незаметно стекает в носоглотку и проглатывается ребенком 
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-blue-4.jpg")
                .rino10Options__item__title ЭКОНОМИЯ СРЕДСТВ
                .rino10Options__item__text
                    |спрей РИНОСТОП® стоит недорого, благодаря этому экономит семейный бюджет;<br/>средняя розничная цена спрея РИНОСТОП® 0,05% не превышает 100 рублей*;<br /> дополнительным достоинством спрея РИНОСТОП® является его объем – в отличие от ряда других сосудосуживающих средств, оптически более доступных по цене, в нем на 30% лекарственного средства больше (15 мл, а не 10 мл) 
                    span * По данным IMS за февраль 2016 г. Средняя розничная цена не превышает 100руб, фактическая цена в аптеке зависит от розничной торговой наценки
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-blue-5.jpg")
                .rino10Options__item__title ПРОСТОТА и УДОБСТВО ПРИМЕНЕНИЯ:
                .rino10Options__item__text
                    |удобная и современная форма выпуска в виде спрея облегчает использование препарата у детей. Каждый знает, как тяжело усадить маленького непоседу и попросить его не вертеть головой, ведь дети почти ни минуты не сидят без движения. В отличие от капель в процессе использования спрея РИНОСТОП® малыша не нужно укладывать или запрокидывать ему голову. Сохраняя привычное вертикальное положение ребенка, достаточно просто нажать на дозатор и впрыснуть спрей в нос. Насос обеспечивает подачу раствора при каждом нажатии и стабильную силу струи; насадка-распылитель обеспечивает равномерное орошение слизистой полости носа.
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-blue-6.jpg")
                .rino10Options__item__title ПРЕДУПРЕЖДЕНИЕ ОСЛОЖНЕНИЙ
                .rino10Options__item__text
                    |в силу особенностей анатомии детского организма отек и воспаление слизистой полости носа часто способствуют быстрому развитию осложнений – особенно со стороны уха. Ксилометазолин, входящий в состав спрея РИНОСТОП®, способствует быстрому снятию отека, восстановлению дренажа носовых пазух и полости среднего уха, и как следствие, снижает риск развития осложнений  насморка, таких как гайморит или отит. Тем самым применение спрея Риностоп помогает облегчить состояние ребенка, способствуя нормализации его сна и аппетита.*
                    span *Заплатников А.П., Овсянникова Е.М. Рациональное применение назальных деконгестантов при острых респираторных вирусных инфекциях у детей. РМЖ №4, январь, 2004, стр. 36
                     
.rino10Using
    .container
        .rino10Using__title.rino10Title
            |КАК ИСПОЛЬЗОВАТЬ<br />СПРЕЙ РИНОСТОП
            span ®
            |для детей:
        .rino10Using__items
            .rino10Using__items__wrap
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-1.png")
                    .rino10Using__item__text снять предохранительный колпачок с распылителя
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-2.png")
                    .rino10Using__item__text расположить флакон вертикально, при первом использовании сделать 2-3 предварительных пшика
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-3.png")
                    .rino10Using__item__text ввести распылитель в нос
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-4.png")
                    .rino10Using__item__text не запрокидывать голову во время использования спрея, сохранять вертикальное положение флакона;
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-5.png")
                    .rino10Using__item__text распылитель  ввести в нос и, нажимая на его основание, распылить в течение 1 секунды в каждый носовой ход - произвести по одному впрыскиванию в каждый носовой ход; использовать не более 3 раз в день
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-6.png")
                    .rino10Using__item__text Очистить насадку после использования
            .rino10Using__freeItem * Согласно инструкции по применению действие препарата наступает через несколько минут после его применения.
        
