.rino10Top.rino10Top--adult.topSectionBg.topSectionBg--rino10Sprey-v
    .container
        .rino10Top__content
            .rino10Top__logo
                    img(src="./img/other-svg/rino-red.svg")
            .rino10Top__leftSide
                .rino10Top__leftSide__text сила научных<br />достижений
                button(type="button").rino10Top__leftSide__btn.downloadBtn
                    span.downloadBtn__text скачать инструкцию
                    span.downloadBtn__icon
                        +icon('download')
            .rino10Top__drug
                span.rino10Top__drug__img
                    img(src="./img/rino10-drug-green.png")
                    span.rino10Top__drug__text для детей старше<br />6-и лет и взрослых 

            .rino10Top__rightSide
                .rino10Top__rightSide__img
                    +icon('nose')
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--top Устраняет отек и гиперемию слизистой
                    span.rino10Top__rightSide__circle
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--center Восстанавливает проходимость носовых ходов
                    span.rino10Top__rightSide__circle
                span.rino10Top__rightSide__option.rino10Top__rightSide__option--bottom Облегчает<br />носовое<br />дыхание
                    span.rino10Top__rightSide__circle
                        
.rino10Goods.rino10Goods--adult
    .container
        .rino10Goods__title.rino10Title.rino10Title--adult
            |ДОСТОИНСТВА<br /> спрея РИНОСТОП
            span ®
            |для детей
        .rino10Goods__items
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/rino10--goods1-green.png")
                .rino10Goods__item__text
                    |Удобен в применении: всего 2-3 впрыскивания в сутки в каждый носовой ход
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/rino10--goods2-green.png")
                .rino10Goods__item__text
                    |Действие наступает быстро и продолжается до 10 часов*
                    span *согласно инструкции по медицинскому применению препарата Риностоп®
            .rino10Goods__item
                .rino10Goods__item__img
                    img(src="./img/rino10--goods3-green.png")
                .rino10Goods__item__text
                    |Доступен по цене – стоит недорого*
                    span  *По данным IMS категории назальные средства местные розничная цена  на спрей Риностоп ниже  ниже  средней цены категории (цена спрея Риностоп 103 руб/уп, средняя цена категории 129 руб/уп)
                    
.rino10Options.rino10Options--adult
    .container
        .rino10Options__title.rino10Title.rino10Title--adult
            |спреЙ РИНОСТОП
            span ®
            |<br />для детей эТО-
        .rino10Options__items
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-green-1.jpg")
                .rino10Options__item__title НАДЕЖНОСТЬ И УВЕРЕННОСТЬ
                .rino10Options__item__text
                    |благодаря устранению отека слизистой носа, спрей РИНОСТОП® способствует снятию заложенности носа и облегчает носовое дыхание
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-green-2.jpg")
                .rino10Options__item__title БЫСТРОТА И СКОРОСТЬ
                .rino10Options__item__text
                    |спрей для носа РИНОСТОП® действует быстро* и длительно действие начинается уже через несколько минут после применения и продолжается до 10 часов* в отличие от препаратов старых поколений на основе нафазолина и фенилэфрина, имеющих короткий промежуток действия и высокую кратность применения в сутки**
                    span *Согласно инструкции по медицинскому применению препарата
                    span **Заплатников А.П. Применение антиконгестантов при ОРВИ у детей. Практика педиатра, февраль 2010, с. 54-58
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-green-3.jpg")
                .rino10Options__item__title ПРОСТОТА И УДОБСТВО
                .rino10Options__item__text
                    |РИНОСТОП® производится в удобной форме спрея; насос обеспечивает подачу раствора при каждом нажатии и стабильную силу струи; насадка-распылитель обеспечивает равномерное орошение слизистой полости носа. Достаточно всего одного впрыскивания «даже на ходу». Пластиковый флакон компактен, его всегда можно носить с собой даже в нагрудном кармане. В отличие от стеклянных флаконов при падении не разобьется о поверхность кафельного пола.
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-green-4.jpg")
                .rino10Options__item__title ЭКОНОМИЯ СРЕДСТВ
                .rino10Options__item__text
                    |спрей РИНОСТОП® стоит недорого, благодаря этому экономит семейный бюджет;<br/>средняя розничная цена спрея РИНОСТОП® 0,05% не превышает 100 рублей*;<br /> дополнительным достоинством спрея РИНОСТОП® является его объем – в отличие от ряда других сосудосуживающих средств, оптически более доступных по цене, в нем на 30% лекарственного средства больше (15 мл, а не 10 мл) 
                    span * По данным IMS за февраль 2016 г. Средняя розничная цена не превышает 100руб, фактическая цена в аптеке зависит от розничной торговой наценки
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-green-5.jpg")
                .rino10Options__item__title ПРЕДУПРЕЖДЕНИЕ ОСЛОЖНЕНИЙ
                .rino10Options__item__text
                    |Ксилометазолин, в составе спрея РИНОСТОП®, способствует профилактике осложнений насморка, таких как гайморит или отит, за счет облегчения эвакуации содержимого из пазух носа.* 
                    span * А.Л. Заплатников. Применение антиконгестантов при острых респираторных вирусных инфекциях у детей. Практика педиатра, февраль 2010, с. 54-58.
            .rino10Options__item
                .rino10Options__item__img
                    img(src="./img/options-green-6.jpg")
                .rino10Options__item__title Благоприятный ПРОФИЛЬ БЕЗОПАСНОСТИ
                .rino10Options__item__text
                    |в отличие от препаратов на основе нафазолина, ксилометазолин входящий в состав спрея РИНОСТОП® характеризуется более щадящим действием на слизистую полости носа.*
                    span * Заплатников А.Л., Овсянникова Е.М. Рациональное применение назальных деконгестантов при острых респираторных вирусных инфекциях у детей. РМЖ, №1, январь 2004. стр. 36.
.rino10Using.rino10Using--adult
    .container
        .rino10Using__title.rino10Title
            |КАК ИСПОЛЬЗОВАТЬ<br />
            |СПРЕЙ РИНОСТОП
            span ®
            |:
        .rino10Using__items
            .rino10Using__items__wrap
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-1-green.png")
                    .rino10Using__item__text снять предохранительный колпачок с распылителя
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-2-green.png")
                    .rino10Using__item__text расположить флакон вертикально, при первом использовании сделать 2-3 предварительных пшика
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-3-green.png")
                    .rino10Using__item__text ввести распылитель в нос
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-4-green.png")
                    .rino10Using__item__text не запрокидывать голову во время использования спрея, сохранять вертикальное положение флакона;
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-5-green.png")
                    .rino10Using__item__text распылитель  ввести в нос и, нажимая на его основание, распылить в течение 1 секунды в каждый носовой ход - произвести по одному впрыскиванию в каждый носовой ход; использовать не более 3 раз в день
                .rino10Using__item
                    .rino10Using__item__img
                        img(src="./img/rino10-using-6-green.png")
                    .rino10Using__item__text Очистить насадку после использования
            .rino10Using__freeItem * Согласно инструкции по применению действие препарата наступает через несколько минут после его применения.
        
