.normTop.topSectionBg.topSectionBg--soft
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Главная риностоп аква
                a(href="#").breadcrumbs__link Риностоп аква Софт
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .normTop__wrap
            .normTop__rino
                span.normTop__rino__img
                    img(src="./img/other-svg/rino-blue.svg")
                span.normTop__rino__words природная сила<br />морской воды
            .normTop__drug.normTop__drug--wrapSoft
                span.normTop__drugOther.normTop__drugOther--soft 125 мл
                .normTop__drug__img.normTop__drug__img--soft
                    img(src="./img/soft-banka.png")
                span.normTop__drug__option.normTop__drug__option--top
                    span.normTop__drug__textSign
                    |изотонический раствор
                span.normTop__drug__option.normTop__drug__option--center
                    span.normTop__drug__textSign
                    |с 6 месяцев
                span.normTop__drug__option.normTop__drug__option--bottom
                    span.normTop__drug__textSign
                    |равномерное орошение
                span.normTop__drug__numbers.normTop__drug__numbers--soft
                    |50 мл
                    span удобная карманная форма
                .normTop__drug__btnWrap.normTop__drug__btnWrap--pos
                    button(type="button").normTop__downloadBtn.downloadBtn
                        span.downloadBtn__text скачать инструкцию
                        span.downloadBtn__icon
                            +icon('download')
                    span.normTop__drug__label *Изделие медицинского назначение

.domainSection.domainSection--forte
    .domainSection__wrapper
        .container
            .domainSection__title.domainSection__title--soft
                |СФЕРА ПРИМЕНЕНИЯ<br />спрея 
                span.domainSection__title__black РИНОСТОП
                span.domainSection__title__item.domainSection__title__black ®
                span.domainSection__title__black аква софт
            .domainSection__content.domainSection__content--soft
                span.domainSection__mainImg
                    img(src='./img/soft-domain.jpg') 
                span.domainSection__items.domainSection__items--1
                    .domainSection__itemsTitle аллергический насморк/ринит:
                    span до контакта с предполагаемым аллергеном
                    span при первых признаках аллергии
                    span на протяжении всего периода активного цветения
                span.domainSection__items.domainSection__items--2
                    .domainSection__itemsTitle профилактика острых респираторных заболеваний:
                    span в период сезонной заболеваемости простудой
                    span в период эпидемии гриппа и ОРВИ
                    span при непосредственном контакте с заболевшим человеком
                span.domainSection__items.domainSection__items--3
                    .domainSection__itemsTitle ежедневная гигиена полости носа и носоглотки, в т.ч. в условиях неблагоприятной экологической обстановки:
                    span в городах-миллионниках с загазованностью воздуха автомобильными выхлопами
                    span в городах с промышленными предприятиями, имеющими выбросы в атмосферу
                    span в период весенних/летних лесных пожаров и/или тления торфяников
                span.domainSection__items.domainSection__items--4
                    .domainSection__itemsTitle увлажнение носа при повышенной сухости  слизистой: 
                    span на протяжении всего отопительного сезона
                    span при субатрофических и вазомоторных ринитах
                    span для ухода за раздраженной или особо чувствительной 
                span.domainSection__items.domainSection__items--5
                    .domainSection__itemsTitle подготовка слизистой носа к применению лекарственных средств:
                    span местных сосудосуживающих деконгестантов
                    span антиаллергических спреев
                    span локальных антимикробных и антибактериальных препаратов
                    span назальных глюкокортикостероидов
                    span других средств 
                span.domainSection__items.domainSection__items--7
                span.domainSection__items.domainSection__items--8
                span.domainSection__imgItem
                    img(src="./img/soft-domain-img-1.png")
                span.domainSection__imgItem.domainSection__imgItem--2
                    img(src="./img/soft-domain-img-2.png")
            
.dignity
    .container
        .dignity__title.dignity__title--soft
            |ДОСТОИНСТВА<br />
            span.domainSection__title__black РИНОСТОП
            span.domainSection__title__item.domainSection__title__black ®
            span.domainSection__title__black аква софт
        .dignity__wrapper
            .dignity__slider.dignity__slider--soft.js-dignitySlider
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName Софт
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-soft.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-soft.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName Софт
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-soft.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-soft.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName Софт
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-soft.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-soft.png")
                .dignity__sliderItem
                    .dignity__sliderText
                        span.dignity__sliderName Софт
                        span.dignity__sliderOption ежедневная гигиена слизистой носа: очищение и увлажнение
                        span.dignity__sliderOption способ распыления: мягкий душ
                        span.dignity__sliderOption бережное промывание, равномерное орошение
                        span.dignity__sliderOption сила распыления:
                            img(src="./img/slider-dribs-soft.png")
                    .dignity__sliderMainImg
                        img(src="./img/slider-item-soft.png")
            .dignity__items.dignity__items--soft
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-soft-1.png")
                    .dignity__itemTitle 100% натуральная морская вода 
                    .dignity__itemText морская вода с сохраненными в ней минералами и микроэлементами
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-soft-2.png")
                    .dignity__itemTitle изотонический раствор морской воды 
                    .dignity__itemText осмотическое давление раствора соответствует давлению плазмы крови
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-soft-3.png")
                    .dignity__itemTitle БЕРЕЖНОЕ ОРОШЕНИЕ
                    .dignity__itemText деликатное воздействие на слизистую оболочку полости носа за счет мягкого распыления морской воды в виде «душа»
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-soft-4.png")
                    .dignity__itemTitle равномерное орошение 
                    .dignity__itemText равномерное орошение всей поверхности слизистой полости носа
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-soft-5.png")
                    .dignity__itemTitle ВОЗМОЖНОСТЬ ПРИМЕНЕНИЯ
                    .dignity__itemText возможность применения у взрослых, детей, а также у женщин во время беременности и кормления грудью
                .dignity__item
                    .dignity__itemImg
                        img(src="./img/dignity-soft-6.png")
                    .dignity__itemTitle ПРОСТОТА ПРИМЕНЕНИЯ
                    .dignity__itemText анатомическая насадка-распылитель

.softSlider
    .container
        .softSlider__namesWrap
            .softSlider__names.js-namesSlider
                .softSlider__namesItem ежедневная гигиена
                .softSlider__namesItem подготовка слизистой носа к применению лекарственных средств:
                .softSlider__namesItem при аллергическом насморке: 
                .softSlider__namesItem профилактика острых респираторных заболеваний, в т.ч. гриппа и ОРВИ:
                .softSlider__namesItem при повышенной сухости слизистой
                .softSlider__namesItem ежедневная гигиена
                .softSlider__namesItem подготовка слизистой носа к применению лекарственных средств:
                .softSlider__namesItem при аллергическом насморке: 
                .softSlider__namesItem профилактика острых респираторных заболеваний, в т.ч. гриппа и ОРВИ:
                .softSlider__namesItem при повышенной сухости слизистой
        .softSlider__main.js-noseSlider
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--sprey
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span поддержание нормального физиологического состояния слизистой оболочки носа и носоглотки
                    span очищение от слизи и частиц пыли 
                    span увлажнение слизистой
                    span увлажнение слизистой
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--sprey2
                        img(src="./img/nose.png")
                .softSlider__mainText
                    span повышение эффективности лекарственных средств, наносимых на слизистую оболочку полости носа
                    span уменьшение потребления местных лекарственных средств
                    span снижение риска развития побочных эффектов локальных лекарственных средств
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--alergy
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span механическое смывание аллергенов со слизистой полости носа
                    span облегчение симптомов аллергического ринита (дискомфорт в носу, раздражение, зуд, чихание, заложенность, выделения из носа)
                    span предупреждение дальнейшего развития аллергической реакции
                    span исключительно местное действие
                    span отсутствие системных побочных эффектов в виде сонливости и привыкания
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--microbe
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span повышение местного иммунитета
                    span стимуляция защитной функции эпителия
                    span активное освобождение всех отделов полости носа от респираторных вирусов и бактерий
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--skin
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span поддержание нормального физиологического состояния слизистой оболочки носа и носоглотки
                    span очищение от слизи и частиц пыли 
                    span увлажнение слизистой
                    span увлажнение слизистой
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--sprey
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span поддержание нормального физиологического состояния слизистой оболочки носа и носоглотки
                    span очищение от слизи и частиц пыли 
                    span увлажнение слизистой
                    span увлажнение слизистой
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--sprey2
                        img(src="./img/nose.png")
                .softSlider__mainText
                    span повышение эффективности лекарственных средств, наносимых на слизистую оболочку полости носа
                    span уменьшение потребления местных лекарственных средств
                    span снижение риска развития побочных эффектов локальных лекарственных средств
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--alergy
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span механическое смывание аллергенов со слизистой полости носа
                    span облегчение симптомов аллергического ринита (дискомфорт в носу, раздражение, зуд, чихание, заложенность, выделения из носа)
                    span предупреждение дальнейшего развития аллергической реакции
                    span исключительно местное действие
                    span отсутствие системных побочных эффектов в виде сонливости и привыкания
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--microbe
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span повышение местного иммунитета
                    span стимуляция защитной функции эпителия
                    span активное освобождение всех отделов полости носа от респираторных вирусов и бактерий
            .softSlider__mainItem
                .softSlider__mainImg.softSlider__mainImg--skin
                    img(src="./img/nose.png")
                .softSlider__mainText
                    span поддержание нормального физиологического состояния слизистой оболочки носа и носоглотки
                    span очищение от слизи и частиц пыли 
                    span увлажнение слизистой
                    span увлажнение слизистой
            
            

.spreyUsing.spreyUsing--babe
    .container
        .spreyUsing__wrapper
            .spreyUsing__title
                |КАК ИСПОЛЬЗОВАТЬ СПРЕЙ РИНОСТОП
                span.spreyUsing__titleItem ®
                | аква софт:  
            .spreyUsing__itemFor.spreyUsing__itemFor--forte
                span.spreyUsing__itemForText.js-backContent ДЕТЯМ СТАРШЕ 2-х ЛЕТ И ВЗРОСЛЫМ
            a(href="#").spreyUsing__itemChild.js-changeBtn
                span ДЕТЯМ<br />ДО 2-х ЛЕТ
                |орошение производить в положении ребенка лежа на боку
            .spreyUsing__content
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/softUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |очистить носовые ходы ребенка перед использованием РИНОСТОП® АКВА СОФТ
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/softUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |снять прозрачный защитный колпачок с баллончика
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/softUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |Наклониться вперед над раковиной и повернуть голову вбок. Аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху.Нажать на распылитель и производить введение раствора в течении нескольких секунд
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/softUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |Наклонить голову в противоположную сторону и провести процедуру с другим носовым ходом.
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/softUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |Высморкаться, используя правильную технику: слегка приоткрыв рот, зажимая по очереди одну ноздрю, с небольшим усилием продувать вторую.
                .spreyUsing__item.js-oldItem
                    .spreyUsing__itemImg
                        img(src="./img/softUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |Хорошо промыть насадку-распылитель теплой водой и вытереть насухо
                
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-1.png")
                    .spreyUsing__itemText
                        span 1.
                        |очистить носовые ходы ребенка перед использованием РИНОСТОП® АКВА БЕБИ
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-2.png")
                    .spreyUsing__itemText
                        span 2.
                        |снять прозрачный защитный колпачок с баллончика повернуть ребенка на бок, аккуратно ввести наконечник насадки распылителя в носовой ход, находящийся сверху, нажать на распылитель и вводить раствор в течение нескольких секунд.
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-3.png")
                    .spreyUsing__itemText
                        span 3.
                        |повернуть ребенка на другой бок и провести процедуру с другим носовым ходом
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-4.png")
                    .spreyUsing__itemText
                        span 4.
                        |вернуть ребенка в вертикальное положение, позволяя раствору оказать действие в течение нескольких секунд, затем очистить полость носа аспиратором
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-5.png")
                    .spreyUsing__itemText
                        span 5.
                        |детям до 2-х лет сморкаться не рекомендуется из-за риска развития отита, вытереть остатки
                .spreyUsing__item.js-babeItem
                    .spreyUsing__itemImg
                        img(src="./img/babeUsing-6.png")
                    .spreyUsing__itemText
                        span 6.
                        |после каждого использования хорошо промывать носовую насадку-распылитель горячей водой и вытирать насухо

.spreySchedule.spreySchedule--soft
    .spreySchedule__clock
        img(src="./img/clock.png")
    .container
        .spreySchedule__title
            |КРАТНОСТЬ ПРИМЕНЕНИЯ
            span.domainSection__title__black СПРЕЙ РИНОСТОП
                span.spreySchedule__titleItem ®
                | аква софт:  
        .spreySchedule__content
            .spreySchedule__leftItem
                |Профилактика ежедневная гигиена 
                span 2 раза в день
            .spreySchedule__center
                img(src="./img/schedule-green.png")
            .spreySchedule__rightItem
                |Лечение*
                span 4-6 раз в день
                .italic *в составе комплексной терапии: 
            
            
            
            
            
            
