.sosuduTop.topSectionBg.topSectionBg--sosudu
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Сосудосуживающие средства
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .sosuduTop__text Сосудосуживающие<br />лекарственные<br />средства

.sosuduSideText
    .container
        .sosuduSideText__content
            .sosuduSideText__content__title.greenTitle Почему отекает слизистая<br />и не дышит нос?
            .sosuduSideText__content__text.
                Заложенность носа и затруднение носового дыхания, сопровождающие большинство простудных (особенно вирусных) и аллергических заболеваний у детей и взрослых, обусловлены отеком слизистой оболочки полости носа. <br /><br />Причиной же отека является рефлекторное расширение ее кровеносных сосудов: сначала – как реакция на холод, направленная на согревание вдыхаемого воздуха, затем – как реакция на активность вирусов и/или аллергенов, попавших на поверхность слизистой. Усиленный приток крови приводит к активной работе носовых желез, продуцирующих слизь. Все это становится причиной отечности и гиперемии (переполненности сосудов кровью) слизистой полости носа и носоглотки, а также сужения просвета носовых ходов и, как следствие, – заложенности и затруднения носового дыхания у детей и взрослых.
            .sosuduSideText__content__title.greenTitle Что такое<br />сосудосуживающие<br />средства?
            .sosuduSideText__content__text.
                Сосудосуживающие препараты или, как их еще называют в медицине, деконгестанты, являются средствами «скорой помощи» при затрудненном носовом дыхании и заложенности носа. Их местное применение сужает кровеносные сосуды, уменьшает кровенаполнение слизистой оболочки носа, способствуя устранению ее отека и снижению выработки слизи. Как следствие, восстанавливается проходимость носовых ходов и нормализуется дыхание. Таким образом, сосудосуживающие средства от заложенности носа помогают:
            .sosuduSideText__content__items
                .sosuduSideText__content__item
                    .sosuduSideText__content__itemImg
                        img(src="./img/sosudu-item-1.png")
                    .sosuduSideText__content__itemText облегчить носовое дыхание
                .sosuduSideText__content__item
                    .sosuduSideText__content__itemImg
                        img(src="./img/sosudu-item-2.png")
                    .sosuduSideText__content__itemText быстро устранить отек и гиперемию слизистой;
                .sosuduSideText__content__item
                    .sosuduSideText__content__itemImg
                        img(src="./img/sosudu-item-3.png")
                    .sosuduSideText__content__itemText снять заложенность, восстанавливая проходимость носовых ходов;
        .sosuduSideText__img
            img(src="./img/sosudu-face.png")
            .sosuduSideText__img__textWrap
                span.sosuduSideText__img__text до преминения<br />сосудосуживающего средства
                span.sosuduSideText__img__text после преминения<br />сосудосуживающего средства
                
.sosuduWhatIs
    .container
        .sosuduWhatIs__title.greenTitle Что такое<br />сосудосуживающие<br />средства?
        .sosuduWhatIs__section.clearfix
            .sosuduWhatIs__imgSide
                img(src="./img/sosude-whatis-1.png")
            .sosuduWhatIs__textSide
                span.sosuduWhatIs__textSide__greenLine По форме выпуска: капли, гели или спреи
                |В настоящее время считается, что при выборе средства от заложенности носа и насморка предпочтение следует отдавать назальным деконгестантам в виде спрея, поскольку эта лекарственная форма наиболее удобна в использовании. Она обеспечивает равномерное одномоментное орошение всей поверхности слизистой оболочки носа и точное дозирование препарата, что, соответственно, снижает риск передозировки и развития побочных эффектов.
        .sosuduWhatIs__section.clearfix
            .sosuduWhatIs__textSide
                span.sosuduWhatIs__textSide__greenLine По основной активной молекуле действующего вещества
                |Современная фармацевтическая промышленность синтезирует несколько химических молекул, которые входят в состав большинства сосудосуживающих средств: нафазолин, оксиметазолин, ксилометазолин, тетразолин, трамозолин, фенилэфрин и другие. Одной из наиболее популярных и востребованных во всем мире является молекула ксилометазолина, обладающая оптимальными фармакологическими характеристиками. В тоже время популярной и востребованной также является молекула оксиметазолина.
            .sosuduWhatIs__imgSide
                img(src="./img/sosude-whatis-2.png")
        .sosuduWhatIs__section.clearfix
            .sosuduWhatIs__imgSide
                img(src="./img/sosude-whatis-3.png")
            .sosuduWhatIs__textSide
                span.sosuduWhatIs__textSide__greenLine По количеству активных компонентов в составе лекарственного препарата
                |Выделяют однокомпонентные и комбинированные препараты от заложенности носа. В состав комбинированных лекарственных средств, помимо непосредственно сосудосуживающего вещества, входят дополнительные ингредиенты, обладающие увлажняющим, противоаллергическим, муколитическим, противовоспалительным или антибактериальным действием. Довольно часто в составе сосудосуживающих средств для носа можно также встретить растительные экстракты – эвкалипт, ромашку, календулу, ментол или другие. Однако следует знать, что не всегда факт наличия какого-либо дополнительного компонента обеспечивает дополнительные терапевтические свойства препарата. Если лекарственное средство от насморка и заложенности носа обладает дополнительными лечебными характеристиками, его ингредиенты должны быть отражены в инструкции по медицинскому применению в перечне активных компонентов, а не внутри списка вспомогательных веществ.
        .sosuduWhatIs__section.clearfix
            .sosuduWhatIs__textSide
                span.sosuduWhatIs__textSide__greenLine По продолжительности сосудосуживающего действия
                |По продолжительност    и сосудосуживающего действияПрактически все используемые при заложенности носа деконгестанты обладают быстрым и выраженным сосудосуживающим действием. Эффект от их использования заметен в течение первых нескольких минут с момента применения. Вместе с тем, молекулы обладают разной продолжительностью действия и, соответственно, имеют разную кратность применения в течения дня. Условно различают препараты:<br />1) короткого действия (в течение 4–6 часов) – нафазолин, фенилэфрин, татризолин;<br />2) более длительного действия (в интервале 8–12 часов) – ксилометазолин, оксиметазолин, трамозолин. 
                span.sosuduWhatIs__textSide__tableText В таблице, представленной ниже, можно получить общую информацию по особенностям и свойствам разных молекул:
                table.sosuduWhatIs__textSide__table
                    tr 
                        td
                        td скорость наступления єффекта
                        td продолжительность действия
                        td кратность использования 
                        td начилие детских форм
                        td возраст использования
                    tr
                        td ксилометазолин
                        td.sosuduWhatIs__textSide__dotsItem
                        td до 10 часов
                        td 2-3 раза в день
                        td.sosuduWhatIs__textSide__checkItem
                        td с 2 лет
                    tr
                        td оксиметазолин
                        td.sosuduWhatIs__textSide__dotsItem
                        td до 12 часов
                        td 2-3 раза в день
                        td.sosuduWhatIs__textSide__checkItem
                        td с 0 лет
                    tr
                        td трамозолин
                        td.sosuduWhatIs__textSide__dotsItem
                        td 8-10 часов
                        td до 4 раз в день
                        td.sosuduWhatIs__textSide__minusItem
                        td с 6 лет
                    tr
                        td нафозолин
                        td.sosuduWhatIs__textSide__dotsItem
                        td 4-6 часов
                        td до 6-8- раз в день
                        td.sosuduWhatIs__textSide__checkItem
                        td с 1 года
                    tr
                        td тетризолин
                        td.sosuduWhatIs__textSide__dotsItem
                        td 4-8 часов
                        td до 6-8- раз в день
                        td.sosuduWhatIs__textSide__checkItem
                        td с 2 лет
            .sosuduWhatIs__imgSide
                img(src="./img/sosude-whatis-4.png")
                
.sosuduUsing
    .container
        .sosuduUsing__title.greenTitle О чем важно помнить<br />при использовании<br />сосудосуживающих препаратов?
        .sosuduUsing__content.clearfix
            .sosuduUsing__content__text Деконгестанты могут быть использованы при лечении:
            .sosuduUsing__content__items
                .sosuduUsing__item
                    .sosuduUsing__item__img
                        img(src="./img/sosude-using-1.png")
                    .sosuduUsing__item__text острого ринита бактериальной или вирусной природы;
                .sosuduUsing__item
                    .sosuduUsing__item__img
                        img(src="./img/sosude-using-2.png")
                    .sosuduUsing__item__text острого синусита и обострении хронического;
                .sosuduUsing__item
                    .sosuduUsing__item__img
                        img(src="./img/sosude-using-3.png")
                    .sosuduUsing__item__text острого отита
                .sosuduUsing__item
                    .sosuduUsing__item__img
                        img(src="./img/sosude-using-4.png")
                    .sosuduUsing__item__text сезонного и круглогодичного аллергического ринита;
                .sosuduUsing__item
                    .sosuduUsing__item__img
                        img(src="./img/sosude-using-5.png")
                    .sosuduUsing__item__text в качестве вспомогательных средств при подготовке к диагностическим процедурам и в первые дни после проведения 
                    
.sosuduSprey
    .container
        .sosuduSprey__wrapper
            .sosuduSprey__img
                img(src="./img/banks-bruzg.png")
            span.sosuduSprey__item.sosuduSprey__item--1.
                Спрей является наиболее востребованным для применения у взрослых и детей преимущественно старше «садикового» возраста, спрей обеспечивает равномерное и полноценное орошение слизистой носа. В тоже время для детей младшего возраста, особенно грудных и новорожденных детей, предпочтительнее использовать капли с целью более бережного и безопасного поступления лекарственного средства в маленький носик ребенка.
            span.sosuduSprey__item.sosuduSprey__item--2.
                При использовании сосудосуживающих препаратов для носа необходимо четко соблюдать инструкцию, не превышать дозировку и рекомендованную частоту применения; даже средства короткой продолжительности действия нельзя использовать с интервалом менее 3 часов.
            span.sosuduSprey__item.sosuduSprey__item--3.
                Облегчают дыхание на период от 4 до 12 часов, в зависимости от действующего вещества.
            span.sosuduSprey__item.sosuduSprey__item--4.
                Длительность применения капель и спреев для носа не должна превышать 5–7 дней, оптимальный срок лечения – 3–5 дней. В противном случае возможно развитие привыкания к действию препаратов, с которым в последующем справиться довольно сложно.
            span.sosuduSprey__item.sosuduSprey__item--5.
                Каждое сосудосуживающее средство от заложенности носа и насморка должно применяться с учетом возрастных особенностей.
            span.sosuduSprey__item.sosuduSprey__item--6.
                Действие сосудосуживающих препаратов для носа наступает в течение нескольких минут.
            span.sosuduSprey__item.sosuduSprey__item--7.
                При наличии признаков зависимости необходимо обратиться к лор-врачу.
            
.sosuduComponents        
    .container
        .sosuduComponents__title 
            |Сосудосуживающий компонент в составе спреев РИНОСТОП
            span ®
        .sosuduComponents__green
            .sosuduComponents__name ксилометазолин
            .sosuduComponents__info
                .sosuduComponents__leftInfo
                    .sosuduComponents__infoTitle Молекула активного вещества обеспечивает:
                    ul.sosuduComponents__leftOptions
                        li.sosuduComponents__leftOption быстрое начало действия – в течение нескольких минут;
                        li.sosuduComponents__leftOption стойкий продолжительный по времени эффект – до 10 часов;
                        li.sosuduComponents__leftOption удобство применения: всего 2–3 впрыскивания в сутки в каждый носовой ход.
                .sosuduComponents__rightInfo
                    .sosuduComponents__rightPercents
                        span 0.1%
                        span 0.05%
                    .sosuduComponents__rightText Выпуск двух вариантов концентрации позволяет использовать средство при заложенности носа у детей с 2-летнего возраста и взрослых.
        .sosuduComponents__title.sosuduComponents__title--purple
            |Сосудосуживающий компонент в составе капель Риностоп
            span ® 
            |ЭКстра
        .sosuduComponents__purple
            .sosuduComponents__name.sosuduComponents__name--purple Оксиметазолин
            .sosuduComponents__info
                .sosuduComponents__leftInfo
                    .sosuduComponents__infoTitle Молекула активного вещества обеспечивает: 
                    ul.sosuduComponents__leftOptions
                        li.sosuduComponents__leftOption быстрое начало действия – в течение нескольких минут;
                        li.sosuduComponents__leftOption стойкий продолжительный по времени эффект – до 12 часов;
                        li.sosuduComponents__leftOption удобство применения: закапывание в каждый носовой ход всего 2-3 раза в сутки
                .sosuduComponents__rightInfo
                    .sosuduComponents__rightPercents
                        span 0.1%
                        span 0.05%
                        span 0.025%
                    .sosuduComponents__rightText Выпуск в трех вариантах концентраций позволяет использовать средство при насморке и заложенности носа у детей с первых дней жизни и взрослых. 
                    
                    
                    
                    
                    
