.careTop.topSectionBg.topSectionBg--water
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Сосудосуживающие средства
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .careTop__text Морская вода<br />в медицинских целях

.waterAbout
    .container
        .waterAbout__title О МОРСКОЙ ВОДЕ
        .waterAbout__wrap
            .waterAbout__text
                div Как считают ученые, все живое на нашей плате обязано своим происхождением морской воде. Морская вода до сих пор остается основной жидкостью на планете Земля. Именно, благодаря ей, из космоса наша Земля сморится «голубой» планетой, ведь моря и океаны покрывают более 350 миллионов квадратных километров поверхности земли. 
                div Как самая распространенная жидкость, морская вода не раз приковывала к себе внимание ученых и становилась объектом детальных исследований. Результатом изучений стало в 1987 году открытие французского ученого Рене Квинтона, который доказал сходство состава морской воды с плазмой крови человека. Этот феном стал неожиданностью для большинства исследователей.
                div С тех пор прошло немало времени, но до сих пор находятся все новые подтверждения того, что морская вода обладает поистине уникальными целительными свойствами. Более восьмидесяти химических элементов и минеральных солей делают морскую воду раствором, профилактические и лечебные качества которого исключительны.
            .waterAbout__img
                img(src="./img/waterAbout.png", alt="#")

.waterAnswer
    .container
        .waterAnswer__topWrap
            .waterAnswer__topImg
                img(src="./img/waterAnswer.png", alt="#")
            .waterAnswer__topText
                .waterAnswer__title В чем отличия натуральной морской воды от промышленных и приготовленных в домашних условиях солевых растворов для промывания носа?
                .waterAnswer__text
                    |Вопросы, которыми вероятно задаются многие: 
                    ul.waterAnswer__textList
                        li.waterAnswer__textItem Что такого особенного в натуральной морской воде?
                        li.waterAnswer__textItem В чем отличия морской воды, продаваемой в аптеке, от воды непосредственно из моря?
                        li.waterAnswer__textItem Есть ли разница между натуральной морской водой и восстановленным раствором, произведенным промышленным способом из морской соли?
                        li.waterAnswer__textItem Чем отличается морская вода от приготовленного в домашних условиях раствора поваренной соли?
                        li.waterAnswer__textItem Действительно ли натуральная морская вода для носа стоит и оправдывает затраченные на ее покупку средства?
        .waterAnswer__botWrap
            .waterAnswer__botText
                .waterAnswer__title Попробуем снять завесу неопределенности и найти ответы на основные поставленные вопросы
                .waterAnswer__text Природная морская вода – это вода, забор которой осуществлен непосредственно из глубины моря, и после ступенчатой системы очистки осуществлен ее розлив во флаконы индивидуального использования. Именно такой подход обеспечивает возможность использования морской воды в медицинских целях и позволяет сохранить в неизменном виде все ее полезные свойства, природную силу, разнообразие минералов и микроэлементов. Природная морская вода богата широкой палитрой минеральных солей и микроэлементов, в ее составе насчитывается более 90 разновидностей различных веществ. Традиционно морская вода содержит в своем составе сульфаты, гидрокарбонаты, железо, цинк, магний, марганец, кальций, калий, натрия хлорид, серу и многие другие микроэлементы, каждый из которых обладает своими уникальными свойствами и характеристиками. В этом заключается главное принципиальное отличие морской воды от обычного солевого раствора, приготовленного в домашних условиях или купленного в аптеке.
            .waterAnswer__number
                span 90
                |разновидностей различных веществ входит в состав морской воды
        
.waterTable
    .container
        .waterTable__title 
            .waterTable__titleName Микроэлемент
            .waterTable__titleText Действие
        .waterTable__linesList
            .waterTable__line
                .waterTable__name I, NaCI
                .waterTable__text Антисептический эффект
            .waterTable__line
                .waterTable__name Mg
                .waterTable__text Нормализуют функцию мерцательного эпителия, способствуя восстановлению физиологического состояния слизистой оболочки носа, особенно после операции
            .waterTable__line
                .waterTable__name К
                .waterTable__text Способствует регенерации клеток Снижает гидратацию тканевых белков, способствует выведению жидкости
            .waterTable__line
                .waterTable__name Zn, Se
                .waterTable__text Способствуют выработке лизоцима, интерферонов, иммуноглобулинов, восстанавливая местный иммунитет слизистой
            .waterTable__line
                .waterTable__name Ca
                .waterTable__text Способствует заживлению тканей
            .waterTable__line
                .waterTable__name I
                .waterTable__text Активизирует выработку защитной слизи бокаловидными клетками
            
.waterDribs
    .waterDribs__bg
        .waterDribs__bgTop
        .waterDribs__bgBot
    .container
        .waterDribs__wrap
            .waterDribs__item
                .waterDribs__img
                    img(src="./img/water-drib-1.png", alt="#")
                .waterDribs__text Обычная вода
            .waterDribs__item
                .waterDribs__img
                    img(src="./img/water-drib-2.png", alt="#")
                .waterDribs__text Морская вода или «восстановительный раствор»
            .waterDribs__item
                .waterDribs__img
                    img(src="./img/water-drib-3.png", alt="#")
                .waterDribs__text Морская вода залива<br/>Сен-Мало

.waterRem
    .container
        .waterRem__text Сегодня в аптеке под видом натуральной морской воды для промывания часто можно встретить препараты, произведенные промышленным способом из сухой морской соли. По аналогии с фруктовыми и ягодными соками такие продукты можно назвать «восстановленными». Как правило, восстановленный солевой раствор морской существенно отличается по своим характеристикам от природной морской воды. Поэтому нужно быть очень внимательным при выборе того или иного средства на основе морской воды. При наличии сомнений, лучше уточнить вопрос: «Является ли данное средство натуральной или восстановленной морской водой?»- у фармацевта.  
        .waterRem__title Что касается приготовления солевого раствора для промывания носа в домашних условиях из поваренной или даже морской соли, то здесь важно помнить о следующем: 
        .waterRem__items
            .waterRem__item
                .waterRem__number
                    span 1
                .waterRem__text Для приготовления солевого раствора необходимо использовать исключительно очищенную или дистиллированную воду; применение необработанной, некипяченой воды из крана вместо помощи способно усугубить течение заболевания и спровоцировать развитие инфекционных осложнений. 
            .waterRem__item
                .waterRem__number
                    span 2
                .waterRem__text Стерильным должен быть и сам приготовленный солевой раствор; в домашних условиях добиться этого довольно сложно, так как необходимо быть на 100% уверенным в качестве и чистоте используемой соли, стерильности посуды и т.д.
            .waterRem__item
                .waterRem__number
                    span 3
                .waterRem__text В бытовых условиях крайне сложно выдержать и соблюсти полезную концентрацию соли (натрия хлорида - NaCl) в растворе; как следствие, всегда присутствует риск приготовления более концентрированного раствора, способного вызвать раздражение слизистой оболочки носа или привести к ее иссушению.
            .waterRem__item
                .waterRem__number
                    span 4
                .waterRem__text Соляной раствор для промывания, приготовленный дома, не подлежит длительному хранению; фактически каждое применение – это новое приготовление раствора, что крайне неудобно.

.waterGood
    .container
        .waterGood__titleBig В ЧЕМ ПОЛЬЗА МОРСКОЙ ВОДЫ ДЛЯ СЛИЗИСТОЙ ОБОЛОЧКИ НОСА?
        .waterGood__text Морская вода обладает целым перечнем полезных свойств, что делает ее практически незаменимой как с медицинской точки зрения в современной отоларингологии, так и повседневном бытовом применении как средства гигиены в каждом доме.
        .waterGood__title Среди наиболее значимых действий натуральной морской воды для носа следует отметить следующие:
        .waterGood__wrap
            .waterGood__textWrap
                ul
                    li.waterGood__listItem Тщательно промывает все отделы полости носа и носоглотки, активно очищая их от бактерий, вирусов, аллергенов, корок, слизи, частиц пыли;
                    li.waterGood__listItem Оказывает противовоспалительное и увлажняющее действие, снимает раздражение;
                    li.waterGood__listItem Уменьшает отек слизистой оболочки полости носа и носоглотки, способствует восстановлению носового дыхания;
            .waterGood__img
                img(src="./img/water-good-1.png", alt="#")
        .waterGood__wrap.waterGood__wrap--sides
            .waterGood__textWrap
                ul
                    li.waterGood__listItem Ускоряет процессы регенерации и восстановления слизистой оболочки носа и носоглотки, снижает риск развития осложнений после операций в полости носа и околоносовых пазухах;
                    li.waterGood__listItem Уменьшает отек слизистой оболочки полости носа и носоглотки, способствует восстановлению носового дыхания;
            .waterGood__img
                img(src="./img/water-good-2.png", alt="#")
        .waterGood__wrap
            .waterGood__textWrap
                ul.waterGood__textList
                    li.waterGood__listItem повышает терапевтическую эффективность лекарственных средств, наносимых на слизистую оболочку полости нос, уменьшает их потребление и риск развития побочных эффектов;
                    li.waterGood__listItem Повышает местный иммунитет.
            .waterGood__img
                img(src="./img/water-good-3.png", alt="#")

.waterNose
    .container
        .waterNose__title В ЧЕМ ПОЛЬЗА МОРСКОЙ ВОДЫ ДЛЯ СЛИЗИСТОЙ ОБОЛОЧКИ НОСА?
        .waterNose__wrap
            .waterNose__text Степень солености морской воды зависит преимущественно от содержания в ней твердых солей, в первую очередь насыщенности ее хлоридом натрия (NaCl). Установлено, что концентрация NaCl в океанической воде Атлантики составляет около 3,5-3,8%.  Доказано, что полезными медицинскими свойствами обладают растворы морской воды с концентрацией натрия хлорида не более 2,0–2,5% и именно они используются для ежедневной гигиены, профилактики и в составе комплексной терапии заболеваний верхних дыхательных путей. Более высокое содержание соли в морской воде способно «пересушить» слизистую оболочку носа. Именно по этой причине морская вода в натуральном виде, без разведения ее до нужной концентрации, не может использоваться с медицинской целью.
            .waterNose__img
                img(src="./img/water-diagram.png", alt="#")

.waterVar
    .container
        .waterVar__title Сегодня в аптеках можно встретить растворы морской воды средства на основе морской воды в двух концентрациях:
        .waterVar__wrap
            .waterVar__item
                .waterVar__itemTop
                    .waterVar__itemImg
                        img(src="./img/water-var-1.png", alt="")
                    .waterVar__imgText Изотонический раствор морской соли содержит такое же количество солей, как клетки организма человека
                .waterVar__text
                    div Изотонический раствор
                    |Это раствор с концентрацией NaCl 0,9%. Именно такая концентрация соли присуща плазме крови человека. При взаимодействии с изотоническим раствором клетки слизистой оболочки полости носа чувствуют себя наиболее комфортно и физиологично. Изотонический раствор получают путем разведения натуральной морской воды стерильной дистиллированной.
            .waterVar__item
                .waterVar__itemTop
                    .waterVar__itemImg
                        img(src="./img/water-var-2.png", alt="")
                    .waterVar__imgText Гипертонический раствор морской воды содержит большее количество солей, чем клетки организма человека
                .waterVar__text
                    div Гипертонический раствор
                    |Это раствор с концентрацией хлорида натрия (NaCl), превышающим содержание соли в плазме крови человека, т.е. выше 0,9%. Согласно законам физики, за счет высокого содержания соли, такой раствор морской воды для носа способен «вытягивать» на себя избыток жидкости из клеток и тканей, тем самым уменьшая отек. Гипертонический раствор может широкого использоваться для снятия отечности и облегчения выраженной заложенности носа, особенно при длительно сохраняющейся проблеме, когда применение вазоконстрикторов ограничено из-за риска нежелательных явлений.