.zabolevanieTop.topSectionBg.topSectionBg--zabolevanie
    .container
        .breadcrumbs.clearfix
            .breadcrumbs__pages
                a(href="#").breadcrumbs__link Главная
                a(href="#").breadcrumbs__link Заболевания носа и пазух
            .breadcrumbs__social
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--word Поделиться
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--fb
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--ok
                a(href="#").breadcrumbs__socItem.breadcrumbs__socItem--vk
        .zabolevanieTop__text Заболевания<br />носаи пазух

.zabolevanieCauses
    .container
        .zabolevanieCauses__title Основные<br />причины
        .zabolevanieCauses__items
            .zabolevanieCauses__item
                .zabolevanieCauses__item__img
                    img(src="./img/zabolevanie-cause-1.jpg")
                .zabolevanieCauses__item__title Внешние факторы
                .zabolevanieCauses__item__smallTitle Неблагоприятные климатические и погодные условия.
                .zabolevanieCauses__item__text Неблагоприятные климатические и погодные условия. В среднем вся внутренняя поверхность полости носа секретирует от 100 мл слизи в сутки. Наиболее комфортными условиями считаются температура +27…+33 °C и уровень рН 5,5–6,5. Поэтому климат и погода относятся к основным факторам, влияющим на увлажненность или сухость слизистой носа. Так, негативное влияние оказывают излишне повышенная/пониженная температура, особенно в сочетании с использованием отопления или постоянно работающего кондиционера. К сухости слизистой оболочки носа может приводить и отсутствие регулярных проветриваний. Тот же эффект оказывает длительное нахождение в разреженной атмосфере, например, в горах.
                .zabolevanieCauses__item__smallTitle Вредные условия труда.
                .zabolevanieCauses__item__text На слизистую оболочку полости носа отрицательно воздействуют различные профессиональные факторы. Прежде всего, это относится к работе в горячих цехах на предприятиях тяжелой промышленности. К сухости слизистой носа также приводит постоянное нахождение в запыленном помещении, что особенно актуально для химического производства, а также цементных заводов. Такое же неблагоприятное воздействие оказывает табакокурение. Причем сухость слизистой оболочки носа может вызывать не только вредная привычка самого человека, но и его частое пребывание в помещении, воздух которого наполнен сигаретным дымом.
            .zabolevanieCauses__item
                .zabolevanieCauses__item__img
                    img(src="./img/zabolevanie-cause-2.jpg")
                .zabolevanieCauses__item__title внутренние факторы
                .zabolevanieCauses__item__smallTitle Воздействие медикаментов.
                .zabolevanieCauses__item__text Сухость слизистой носа нередко является побочным эффектом от приема некоторых лекарственных препаратов.  К ним можно отнести длительный прием сосудосуживающих средств, интраназальных кортикостероидов, местных противоаллергических средств а также лекарства, содержащие атропин. 
                .zabolevanieCauses__item__smallTitle Различные заболевания и нарушения в организме. 
                .zabolevanieCauses__item__text Лечения сухости носа может потребоваться при истончении слизистой и, как следствие, уменьшении/прекращении образования секрета, что обычно связано с развитием хронического атрофического ринита. Аналогичные процессы происходят у пожилых людей при возрастных изменениях слизистой. Сухость в носу также может являться симптомом ряда заболеваний. К ним относят синдром Шегрена (поражение слюнных и слезных желез), склерома (длительное течение инфекционной патологии верхних дыхательных путей), сахарный диабет и др. Другими факторами, провоцирующими сухость носа, могут являться постоянные стрессы на фоне сниженного иммунитета, а также изменение гормонального баланса в период беременности.

.zabolevanieDiagn
    .container
        .zabolevanieDiagn__title Основные проявления<br />и диагностика
        .zabolevanieDiagn__leftItem
            |К основным жалобам людей, страдающих от сухости слизистой носа, относят следующие:
        .zabolevanieDiagn__items
            .zabolevanieDiagn__items__wrap
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-1.png")
                    .zabolevanieDiagn__item__text сильный храп, связанный с заложенностью носа;
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-2.png")
                    .zabolevanieDiagn__item__text частое и внезапное чихание;
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-3.png")
                    .zabolevanieDiagn__item__text ощущение зуда, жжения и раздражения полости носа;
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-4.png")
                    .zabolevanieDiagn__item__text кровотечения различной интенсивности;
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-5.png")
                    .zabolevanieDiagn__item__text образование корок на слизистой носа;
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-6.png")
                    .zabolevanieDiagn__item__text снижение или утрата обоняния;
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-7.png")
                    .zabolevanieDiagn__item__text появление на крыльях носа сухой каймы, нередко с трещинами;
                .zabolevanieDiagn__item
                    .zabolevanieDiagn__item__img
                        img(src="./img/Diagnostic-8.png")
                    .zabolevanieDiagn__item__text головная боль.
            .zabolevanieDiagn__bigText.
                Сухость слизистой оболочки носа может приводить не только к неприятным проявлениям, но и вызывать различные осложнения, в том числе постоянные носовые кровотечения и повышенную восприимчивость к воздействию любых патогенных микроорганизмов, попадающих в организм через дыхательные пути. Поэтому так важно своевременно обратиться к специалисту для проведения диагностики и назначения лечения. Для выяснения причин сухости носа врач-отоларинголог, прежде всего, собирает анамнез и проводит осмотр с помощью риноскопа. При этом оценивается состояние слизистой оболочки носа – ее цвет, структура, толщина, степень и площадь поражения. При необходимости изучения носоглотки используется эндоскоп.
                
.zabolevanieFight
    .container
        .zabolevanieFight__title Как бороться<br />с сухостью носа
        .zabolevanieFight__section.clearfix
            img(src="./img/Fight-1.jpg").zabolevanieFight__section__img
            .zabolevanieFight__section__text
                div Исключить/нейтрализовать провоцирующие факторы
                |Для обеспечения эффективности лечения сухости носа важно создать благоприятные условия. Так, следует обеспечить нормальную влажность воздуха в помещении (около 70 %), например, использовать увлажнитель, мокрые полотенца или емкости с водой. Если есть необходимость и возможность, можно сменить место проживания на то, где более комфортный с точки зрения влажности и температуры воздуха климат.
        .zabolevanieFight__section.zabolevanieFight__section--side.clearfix
            .zabolevanieFight__section__text
                div Использовать народные способы 
                |В некоторых случаях пациенты, страдающие от сухости носа, для ее лечения обращаются к народным рецептам. Домашние методы обычно включают промывание слизистой отварами различных трав, закапыванием сока алоэ и ингаляции с эфирными маслами. 
            img(src="./img/Fight-2.jpg").zabolevanieFight__section__img
        .zabolevanieFight__section.zabolevanieFight__section--last.clearfix
            img(src="./img/Fight-3.jpg").zabolevanieFight__section__img
            .zabolevanieFight__section__text
                div Использовать медицинские препараты
                |Для лечения сухости слизистой оболочки носа широко применяются спреи и капли, в частности на основе морской воды. Благодаря сбалансированному составу они отлично устраняют жжение и зуд, оказывают противовоспалительное и увлажняющее действие, а также помогают защититься от бактерий. К таким средствам относится серия РИНОСТОП® АКВА, в частности для устранения сухости носа подойдет РИНОСТОП® АКВА СОФТ. Его действие направлено на удаление корок и увлажнение слизистой оболочки полости носа и носоглотки. У разных лекарственных препаратов имеются как показания, так и противопоказания, поэтому перед их использованием следует проконсультироваться со специалистом.
