.header {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    border-bottom: 7px solid rgba(0,0,0,0.25);
    z-index: 999;

    @media (max-width: $screen-md-max) {
        position: fixed;
        top: 0;
        left: 0;
    }
    &__wrap {
        background: #fff;
    }
    &__mobWrap {
        display: none;
        justify-content: space-between;
        padding: 20px 0;
        align-items: center;
        @media (max-width: $screen-md-max) {
            display: flex;
        }
    }
    &__menuBtn {
        display: block;
        width: 22px;
        height: 16px;
        position: relative;
        float: right;
        top: 5px;

        &:before {
            content: '';
            @include sprite($burger);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__mobSocialBlock {
        display: flex;
        float: left;
    }
    &__mobSocial {
        width: 40px;
        height: 25px;
        position: relative;
        display: inline-block;
        margin-left: 10px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        &:last-child {
            margin-right: 20px;
        }
        &--fb-gray:before {
            @include sprite($fb-gray);
        }
        &--ok-gray:before {
             @include sprite($ok-gray);
        }
        &--vk-gray:before {
             @include sprite($vk-gray);
        }
        &--home:before {
             @include sprite($home);
        }
    }
    &__nav {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        z-index: 10;
        
        @media (max-width: $screen-md-max) {
            display: none;
        }
        &__itemBlock {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 14px 0 11px;

            &.active .header__arrowWrap:before {
                transform: rotate(180deg);
            }
            &.js-drugsBtn .header__nav__item {
                pointer-events: none;
            }
        }
        &__item {
            text-transform: uppercase;
            color: #646464;
            font-size: 12px;
            text-align: center;
            border-bottom: 2px solid transparent;
            padding-bottom: 2px;
            transition: border-color 0.3s;
            position: relative;

            &:hover {
                border-color: #00bcb4;

                
                @media (max-width: $screen-md-max) {
                    border-color: transparent;
                }
            }
            &--star {
                display: block;
                margin: 0 auto;
                width: 83px;
            }
        }
        &__drugsMenu {
            position: absolute;
            left: 0;
            background: #fff;
            top: 55px;
            padding-top: 20px;
            z-index: 9;
            border-top: 7px solid #c4c4c4;
            padding-left: 14px;
            display: none;
           
            &:before {
                content: '';
                position: absolute;
                width: 4px;
                height: calc(100% + 7px);
                background: rgba(0,0,0,0.25);
                right: -4px;
                bottom: -7px;
            }
            &:after {
                content: '';
                position: absolute;
                width: calc(100% - 4px);
                height: 7px;
                background: rgba(0,0,0,0.25);
                right: 0;
                bottom: -7px;
            }
            @media (max-width: $screen-md-max) {
                position: relative;
                left: auto;
                top: auto;
                padding-top: 0;
                border: none;
                padding-left: 0;
                margin-top: 40px;

                &:before {
                    content: normal;
                }
                &:after {
                    content: normal;
                }
            }
        }
    }
    &__mobMenuWrap {
         position: fixed;
         top: 66px;
         left: 0;
         width: 100%;
         background: #fff;
         display: none;
         border-top: 8px solid #c4c4c4;
         max-height: calc(100% - 66px);
         overflow: auto;

    }
    &__navMob {
        display: block;
        background: #fff;
        width: 100%;
        overflow: auto;

        & .header__nav__itemBlock {
            padding: 15px;
            width: 100%;

            &:not(:last-child) {
                border-bottom: 1px solid #dededf;
            }
            @media (max-width: $screen-md-max) {
                overflow: hidden;
            }
        }
        & .header__nav__item {
            padding-bottom: 0;
        }
    }
    &__arrowWrap {
        position: relative;
        
        @media (max-width: $screen-md-max) {
            width: 690px;
        }
        &:before  {
            content: '';
            @include sprite($mobile-arrow);
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
    &__drugsType {
        margin-bottom: 22px;

        &__title {
            text-transform: uppercase;
            color: #0e8241;
            font-family: $GPBlack;
            font-size: 12px;
            margin-bottom: 15px;

            @media (max-width: $screen-sm-max) {
                text-align: center;
            }
            & span {
                color: #ec242b;
            }
            &--green {
                position: relative;

                @media (max-width: $screen-sm-max) {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        @include sprite($green-lines);
                    }
                }
            }
            &--blue {
                color: #00bcb4;
                position: relative;

                & span {
                    color: #007178;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 125px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: calc(100% - 125px);
                    height: 1px;
                    background: linear-gradient(to right, #54d2cd, 40% , #fff);

                    @media (max-width: $screen-sm-max) {
                        width: auto;
                        left: 50%;
                        transform: translateX(-50%);
                        @include sprite($blue-lines);
                    }
                }
            }
            &--purple {
                color: #a870c2;
                position: relative;

                & span {
                    color: #e73235;
                }
                &:before {
                     content: '';
                    display: block;
                    position: absolute;
                    left: 135px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: calc(100% - 125px);
                    height: 1px;
                    background: linear-gradient(to right, #a870c2, 40% , #fff);

                    @media (max-width: $screen-sm-max) {
                        width: auto;
                        left: 50%;
                        transform: translateX(-50%);
                        @include sprite($purple-lines);
                    }
                }
            }
        }
        &__catalog {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: flex-start;
            padding-left: 45px;
            position: relative;
            padding-right: 60px;

            @media (max-width: $screen-sm-max) {
                display: block;
            }
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                @include sprite($menu-green-bg);
                left: 133px;
                top: 49px;

               @media (max-width: $screen-md-max) {
                   left: 260px !important;
               }
               @media (max-width: $screen-sm-max) {
                    content: normal;
               }
            }
            &--blue:before {
                @include sprite($menu-blue-bg);
                left: 358px;
                top: 53px;
            }
            &--purple:before {
                content: normal;
            }
        }
        &__item {
            width: 100px;
            color: #646667;

            
            &:not(:last-child) {
                margin-right: 98px;

                @media (max-width: $screen-md-max) {
                    margin-right: 56px;
                }
            }
            & img {
                margin-bottom: 5px;

                @media (max-width: $screen-sm-max)  {
                    display: none;
                }
            }
            & span {
                width: 100px;
                text-align: center;
                font-size: 10px;
                display: block;
            }
            @media (max-width: $screen-sm-max) {
                display: block;
                margin-right: 0;
                width: 100%;

                &:last-child {
                    margin-right: 0;
                }
                & span {
                    display: block;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 12px;
                }
            }
        }
    }
    &__homeBtn {
        display: block;
        width: 35px;
        height: 29px;
        margin-left: -20px;
        padding-top: 12px;

        & svg {
            width: inherit;
            height: inherit;
            fill: #6b6b6b;
        }
    }
    &__articlesMenu {
        position: absolute;
        background: #fff;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: none;

        &__item {
            list-style: none;
            border-top: 1px solid #dedede;
            & a {
                height: 50px;
                width: 250px;
                display: block;
                color: #656565;
                line-height: 50px;
                text-align: center;
                font-size: 14px;

                &:hover {
                    color: #515151;
                    font-family: $GPB;
                }
            }
        }
    }
}
