body {
    font-family: $GP;
    color: #646464;
    padding-bottom: 71px;

    @media (max-width: $screen-md-max) {
        padding-bottom: 90px;
    }
    @media (max-width: $screen-xs-max) {
        padding-bottom: 130px;
    }

}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    position: relative;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;

    &:before {
        content: '';
        @include sprite($eye);
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;

        @media (max-width: $screen-sm-max) {
            right: 10px;
        }
    }
}

.bannerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: $A4F;
    font-size: 48px;
    color: #999999;
    height: 71px;

    @media (max-width: $screen-lg-max) {
        font-size: 40px;
    }
    @media (max-width: $screen-md-max) {
        font-size: 36px;
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        height: 90px;
    }
    @media (max-width: $screen-sm-max) {
        max-width: 70%;
        font-size: 32px;
    }
    @media (max-width: $screen-xs-max) {
        font-size: 28px;
        height: 130px;
    }
}

.topSectionBg {
    &--index {
        background: url(../img/topSection-index.jpg);

        @media (max-width: $screen-md-max) {
            background-position: left !important;
            background-size: cover;
        }
    }
    &--indexSprey {
        background: url(../img/topSection-indexSprey.jpg);
    }
    &--norm {
        background: url(../img/topSection-norm.jpg);
    }
    &--rino10Sprey {
        background: url(../img/topSection-rino10Sprey.jpg);
    }
    &--rino10Sprey-v {
        background: url(../img/topSection-rino10Sprey-v.jpg);
    }
    &--babe {
        background: url(../img/topSection-babe.jpg);
    }
    &--zabolevanie {
        background: url(../img/topSection-zabolevanie.jpg);
    }
    &--all {
        background: url(../img/topSection-all.jpg);
    }
    &--sosudu {
        background: url(../img/topSection-sosudu.jpg);
    }
    &--soft {
        background: url(../img/topSection-soft.jpg);
    }
    &--forte {
        background: url(../img/topSection-forte.jpg);
    }
    background-size: cover !important;
    background-position: center !important;
}

.xs-hidden {
    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

.breadcrumbs {
    position: absolute;
    top: -22px;
    width: 100%;
    left: 0;
    padding-left: 15px;

    @media (max-width: $screen-sm-max) {
        top: -30px;
    }
    &__pages {
        float: left;
    }
    &__link {
        color: #fff;
        position: relative;
        font-size: 14px;
        margin-right: 5px;
        letter-spacing: -0.2px;

        &:not(:first-child) {
            margin-left: 10px;

            &:before {
                content: '/';
                position: absolute;
                color: #fff;
                font-size: 15px;
                left: -11px;
                top: -1px;
            }
        }
        &:not(:last-child) {
            font-family: $GPB;
            border-bottom: 1px solid rgba(255,255,255,0.3);
        }
    }
    &__social {
        float: right;
        margin-right: 117px;

        @media (max-width: $screen-md-max) {
            display: none;
        }
    }
    &__socItem {
        position: relative;
        margin-left: 24px;
        width: 20px;
        display: inline-block;

        &--word {
            color: #fff;
            font-size: 14px;
            width: 60px;
            display: inline-block;
            height: 26px;
            margin-right: 25px;
            position: relative;
            top: 5px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        &--fb:before {
            @include sprite($fb);
        }
        &--ok:before {
            @include sprite($ok);
        }
        &--vk:before {
            @include sprite($vk);
        }
    }
}

.downloadBtn {
    position: absolute;
    width: 171px;
    height: 56px;
    font-family: $GP;
    border: none;

    &__text {
        color: #fff;
        position: absolute;
        text-align: left;
        top: 13px;
        left: 72px;
    }
    &__icon {
        width: 46px;
        height: 35px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 5px;
        margin: auto;
        left: 15px;

        & svg {
            width: inherit;
            height: inherit;
            stroke: #fff;
        }
    }
}

.greenTitle {
    font-size: 25px;
    text-align: center;
    color: #17a64d;
    font-family: $GPB;
    text-transform: uppercase;
    letter-spacing: -0.2px;

    @media (max-width: $screen-xs-max) {
        font-size: 20px;
    } 
}
