.indexPage {
    padding-top: 136px;
    overflow: hidden;

    @media (max-width: $screen-sm-max) {
        padding-top: 360px;
    }
    &--all {
        position: relative;

        @media (max-width: $screen-sm-max) {
            padding-top: 100px;

            & .indexPage__info {
                margin-bottom: 0;
            }
        } 
    }
    &__item {
        width: 50%;
        float: left;

        @media (max-width: $screen-sm-max) {
            width: 100%;
        }
    }
    &__logo {
        margin-bottom: 95px;
        & span {
            display: block;
            width: 170px;
            margin: 0 auto;
            position: relative;
            left: -7px;

            &:before {
                content: '';
                position: absolute;
                @include sprite($rino-red-bg);
                z-index: -1;
                opacity: 0.5;
                left: -153px;
                top: -63px;
            }
        }
        &--all span:before {
            @include sprite($rino-blue-bg);
        }
        &--blue {
            margin-bottom: 60px;

            @media (max-width: $screen-md-max) {
                margin-bottom: 15px;
            }
            span {
                width: 200px;
                left: 6px;
                top: -15px;

                &:before {
                    @include sprite($rino-blue-bg);
                    left: -104px;
                    top: -15px;
                }
            }

        }
    }
    &__slogan {
        font: 36px $GPB;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin-bottom: 225px;
        z-index: 3;
        position: relative;

        &--blue {
            color: #fff;
        }
        & a {
            color: #fff;
            transition: opacity 0.3s;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
        & span {
            color: #fff;
        }
        @media (max-width: $screen-lg-max) {
            font-size: 24px;
            max-width: 300px;
            margin: 0 auto 200px
        }
        @media (max-width: $screen-md-max) {
             margin-bottom: 288px;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 45px;
        }
    }
    &__info {
        position: relative;
        width: 431px;
        margin: 0 auto;
        padding: 54px 30px 43px;
        line-height: 1.1;

        @media (max-width: $screen-md-max) {
            width: 100%;
            padding: 25px 30px 20px;
            right: 20px;
        }
        &--right {
            @media (max-width: $screen-md-max) {
                right: auto;
                left: 20px;
            }
        }
        @media (max-width: $screen-sm-max) {
            right: 0;
            left: 0;
            margin-bottom: 80px;
            max-width: 320px;
        }
        &__label {
            margin-bottom: 15px;
            font-style: italic;
            font-size: 12px;
            display: none;

            @media (max-width: $screen-lg-max) {
                display: block;
            }
        }
        &__textWrap {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            display: block;
            width: 431px;
            height: 192px;
            overflow: hidden;
            // z-index: -1;
            
            & img {
                width: 100%;
            }
            @media (max-width: $screen-md-max) {
                width: 100%;
            }
            
        }
        &__textNew {
            text-transform: uppercase;
            display: block;
            color: #d82d30;
            font-size: 13px;
            font-family: $GPM;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 17px;
            z-index: 1 !important;
        }
        &__sprey {
            &--sprey {
                height: 270px;
                position: relative;

                & img {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -45px;
                    max-width: none;
                }
            }
        }
        &__text {
            letter-spacing: -0.8px;
            position: relative;
            z-index: 2;
            color: #646464;

            @media (max-width: $screen-sm-max) {
                font-size: 14px;
            }
            & span {
                font-family: $GPBlack;
                font-size: 14px;
                letter-spacing: -0.1px;
            }
            & .green {
                color: #17a64d;
            }
            & .red {
                color: #f7242f;
            }
            & .lightBlue {
                color: #0fb6ae;
            }
            & .darkBlue {
                color: #068185;
            }
            &--sprey {
                padding: 25px 10px;
                text-align: center;
                font-size: 14px;

                & span {
                    z-index: -1;
                }
                & .indexPage__info__textBtn {
                    margin-top: 15px;
                }
            }
            & .italic {
                font-style: italic;
                margin-top: 10px;
                font-size: 12px;
                display: block;
                font-family: $GP;
            }
        }
        &__textBtn {
            margin: 30px auto 0;
            height: 33px;
            width: 125px;
            background: transparent;
            text-transform: uppercase;
            border: 2px solid #01a54f;
            border-radius: 8px;
            // display: -webkit-flex;
            // display: -ms-flex;
            // display: flex;
            // justify-content: center;
            text-align: center;
            // align-items: center;
            color: #01a54f;
            font-family: $GPM;
            font-size: 15px;
            padding: 0;

            &--blue {
                border-color: #035994;
                color: #035994;
            }
            &--pink {
                border-color: #f69ab3;
                color: #f69ab3;
            }
            &--greenBlue {
                border-color: #11b1af;
                color: #11b1af;
            }
            &--lightBlue {
                border-color: #4b95cf;
                color: #4b95cf;
            }
            &--purple {
                border-color: #987cb7;
                color: #987cb7;
            }
            &--purpleLight {
                border-color: #b88fb6;
                color: #b88fb6;
            }
            &--purpleMiddle {
                border-color: #663285;
                color: #663285;
            }
            &--purpleStrong {
                border-color: #302269;
                color: #302269;
            }
        }
        &--sprey {
            width: 100%;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            padding-top: 0;
            padding-bottom: 20px;

            @media (max-width: $screen-lg-max) {
                padding: 0 0 20px;
            }
            @media (max-width: $screen-md-max) {
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .indexPage__info__textWrap {
                width: 169px;
            }
            .indexPage__info__text {
                padding: 45px 3px 25px;
            }
            .indexPage__info__item {
                @media (max-width: $screen-md-max) {
                    margin: 0 50px 60px;
                }
            }
        }
        &--all {
            width: 1054px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            padding-top: 0;
            padding-bottom: 20px;

            @media (max-width: $screen-lg-max) {
                width: 100%;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-top: 80px;
            }
            .indexPage__info__textWrap {
                width: 100%;
                z-index: -1;
            }
        }
        &__item {
            width: 169px;
        }
    }
    &__btnBlock {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 290px;
        width: 170px;
        z-index: 4;

        @media (max-width: $screen-md-max) {
            top: 300px;
        }
        @media (max-width: $screen-sm-max) {
            top: -235px;
        }
        & .testBtn {
            color: #21a290;
            background: #fff;
            border-radius: 10px;
            text-transform: uppercase;
            font-size: 33px;
            width: 170px;
            text-align: center;
            border: none;
            font-family: $GPB;
            line-height: 1;
            padding: 15px 0;
            box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
        }
        & span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -36px;
            text-align: center;
            color: #fff;
            font-size: 12px;
        }
    }
    &--sprey {
        @media (max-width: $screen-sm-max) {
            padding-top: 136px;
        }
        .indexPage__item {
            width: 100%;
        }
        .indexPage__logo {
            margin-bottom: 20px;
        }
        .indexPage__slogan {
            margin-bottom: 30px;
            color: #fff;
        }
    }
    &--all {
        .indexPage__item {
            width: 100%;
        }
        .indexPage__logo {
            margin-bottom: 20px;
        }
        .indexPage__slogan {
            margin-bottom: 10px;
        }
        .indexPage__info__sprey {
            height: 280px;
            width: 100%;
            position: relative;
            margin-bottom: 30px;

            @media (max-width: $screen-lg-max) {
                margin-bottom: 5px;
            }
            & img {
                position: absolute;
                max-width: none;
                width: 275px;
                left: 50%;
                transform: translateX(-50%);
                top: -70px;
            }
        }
        .indexPage__info__item {
            width: 220px;

            @media (max-width: $screen-lg-max) {
                width: 260px;
                margin: 0 40px 60px;

                &:nth-child(-2n+1) {
                    margin-bottom: 165px;
                } 
            }
            @media (max-width: $screen-md-max) {
                margin: 0 0 60px;

                &:nth-child(-2n+1) {
                    margin-bottom: 165px;
                } 
            }
            @media (max-width: $screen-sm-max) {
               
                &:not(:last-child) {
                    margin-bottom: 145px;
                }
            }
        }
        .indexPage__info__text {
            padding-bottom: 65px;

            @media (max-width: $screen-lg-max) {
                padding-bottom: 77px;
            }
        }
        .indexPage__info__textBtn {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 112px;
        }
    }
}

.ihatethisproject {
    position: absolute;
    left: 0;
    right: 0;
    top: 281px;
    z-index: 2;
    display: inline-block;
    margin: auto;
    width: 591px;
    font-style: italic;
    font-size: 14px;

    @media (max-width: $screen-lg-max) {
        display: none;
    }
}

.popupWrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 999;
}

.popupTest {
    position: absolute;
    top: 50px;
    background: #ebebeb;
    left: 0;
    right: 0;
    margin: auto;
    width: 768px;
    height: 802px;
    // background-image: url('../img/popup-bg.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    overflow-y: auto;
    &--child{
        background-image: url('../img/popup-bg.png');
    }
    &--mix{
        background-image: url('../img/popup-bg-mix.png');
    }
    &--elder{
        background-image: url('../img/popup-bg-elder.png');
        background-position: right bottom;
    }
    &__head {
        height: 170px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../img/popup-head-bg.png');
        background-size: cover;
        font-size: 48px;
        font-family: $GPB;
        text-transform: uppercase;
        color: #2bbda8;
    }
    &__body {
        position: relative;
        padding-top: 46px;
        &:before {
            content: '';
            position: absolute;
            top: -38px;
            height: 38px;
            width: 100%;
            background: url(../img/footer-wave.png) repeat-x;
        }
        &--resultFour{
            padding-top: 20px;
        }
    }
    &__smallTitle {
        font-weight: 600;
        text-align: center;
        margin-bottom: 39px;
        font-size: 24px;
        color: #5a5a5a;
        padding: 0 30px;
    }
    &__btnsWrap {
        width: 555px;
        margin: 0 auto;
        padding-bottom: 30px;
        &--next{
            width: 500px;
            padding-top: 28px;
            padding-bottom: 55px;
        }

    }
    &__btnsWrapSmall--next{
        width: 333px;
        padding-top: 15px;
        .popupTest__btn{
            padding: 15px 10px;
            font-size: 14px;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #11b1af;
        border-radius: 10px;
        padding: 15px 30px;
        color: #5a5a5a;
        font-size: 16px;
        text-decoration: none;
        transition: border-color 0.3s, background-color 0.3s, color 0.3s;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &:hover {
            background-color: #f598b3;
            border-color: #f598b3;
            color: #fff;

            & span {
                &:before {
                    content: '';
                    position: absolute;
                    @include sprite($popup-check);
                    top: 50%;
                    transform: translateY(-50%);
                    left: -40px;
                }
            }
        }
    }
    &__btn--pink{
        background-color: #f598b3;
        border-color: #f598b3;
        color: #fff;
    }
    &__btn--green-light{
        background-color: #11b1af;
        border-color: #11b1af;
        color: #fff;
    }
    &__btn--blue{
        background-color: #4c94ce;
        border-color: #4c94ce;
        color: #fff;
    }
    &__btn--purple-dark{
        background-color: #987dc2;
        border-color: #987dc2;
        color: #fff;
    }
    &__btn--purple{
        background-color: #a870c2;
        border-color: #a870c2;
        color: #fff;
    }
    &__btn--green{
        background-color: #0ba44c;
        border-color: #0ba44c;
        color: #fff;
    }
    &__btn--next{
        &:hover {
            background-color: #f598b3;
            border-color: #f598b3;
            color: #fff;
            & span {
                &:before{
                    display: none;
                }
            }
        }
    }
    &__btnInner {
        position: relative;
    }
    &__bigTitle{
        font-size: 36px;
         font-family: $GPB;
         text-transform: uppercase;
         text-align: center;
         color: #11b1af;
        &--pink{
            color: #f598b3;
        }
        &--blue{
            color: #4c94ce;
        }
    }
    &__innerText{
        max-width: 430px;
        margin: 0 auto;
        text-align: center;
        padding-top: 5px;
        line-height: 22px;
    }
    &__resultOne__img{
        display: flex;
        justify-content: center;
    }
    &__resultOne{
        .popupTest__innerText{
            max-width: 470px;
        }
    }
    &__resultTwo{
        &__cols{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        &__plus{
            position: relative;
            
            &:after{
                content: '';
                color: #11b1af;
                display: block;
                @include sprite($icon-plus);
                position: absolute;
                top: 34%;
                right: -13px;
                font-size: 40px;
                font-weight: bold;
            }
        }
        &__colx2{
            width: 50%;
        }
        &__img{
            text-align: center;
            padding-top: 15px;
            min-height: 320px;
        }
        .popupTest__innerText{
            max-width: 265px;
            line-height: 22px;
            padding-top: 0px;
            min-height: 100px;
        }
    }
    &__resultFour{
        &__img-wrap{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        &__colx2{
            position: relative;
            &:after{
                content: 'или';
                display: block;
                text-transform: uppercase;
                font-size: 24px;
                font-family: $GPB;
                position: absolute;
                top: 33%;
                right: -16px;
                color: #11b1af;
            }
        }
        .popupTest__innerText{
            padding: 20px 50px 3px 50px;
        }
        &__cols1{
            .popupTest__innerText{
                padding: 0 15px 0 0;
            }
            .popupTest__btnsWrap--next{
                width: calc(100% - 65px);
                padding-top: 14px;
                padding-bottom: 38px;
            }
        }
        &__spray{
            position: relative;
            &:after{
                content: 'спрей';
                display: block;
                text-transform: uppercase;
                font-size: 24px;
                font-family: $GPB;
                position: absolute;
                top: 17%;
                right: 40px;
                color: #0b42a4;
            }
        }
        &__drops{
            position: relative;
            &:after{
                content: 'капли';
                display: block;
                text-transform: uppercase;
                font-size: 24px;
                font-family: $GPB;
                position: absolute;
                top: 28%;
                right: 40px;
                color: #a870c2;
            }
        }
        &__img{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            max-width: 175px;
            min-height: 252px;
        }
        .popupTest__resultFour__img-wrap{
            justify-content: space-between;
        }
        .popupTest__resultTwo__colx2:first-child{
                padding-right: 25px;
        }
        .popupTest__resultTwo__colx2:last-child{

                padding-left: 15px;
        }
        .popupTest__resultTwo__plus{
            &:after{
                top: 49%;
                right: -23px;
                width: 34px;
                height: 34px;
                background-position: -1556px -130px;
            }
        }

        .popupTest__btnsWrapSmall--next{
            max-width: 280px;
            padding-bottom: 15px;
            .popupTest__btn{
                padding: 18px 10px;
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 768px){
    .popupTest{
        width: 480px;
        &__btn{
            padding: 15px 35px;
            &:hover span:before{
                left: -25px;
            }
        }
        &__btnInner{
            width: 100%;
        }
        &__btnsWrap{
            width: calc(100% - 25px);
            text-align: center;
        }
        &__bigTitle{
            font-size: 28px;
            padding: 0 10px;
        }
        &__resultFour{
            &__colx2{
                &:after{
                    top: 100%;
                    right: 0;
                    left: 0;
                    text-align: center;
                }
            }
            &__img{
                max-width: inherit;
            }
            .popupTest__resultTwo__colx2:first-child{
                padding-right: 0;
            }
            .popupTest__resultTwo__colx2:last-child{
                padding-left: 0;
                padding-top: 20px;
            }
            .popupTest__resultTwo__cols{
                flex-direction: column;
            }
            .popupTest__resultTwo__colx2{
                width: 100%;
            }
        }
    }
}
@media (max-width: 480px){
    .popupTest{
        width: 320px;
        &__body{
            padding-top: 25px;
        }
        &__smallTitle{
            margin-bottom: 25px;
            font-size: 20px;
        }
        &__head{
            font-size: 30px;
        }
        &__btn{
            font-size:14px;
            &:hover span:before{
                left: -30px;
            }
        }
        &__innerText{
            padding: 5px 10px 0;
            min-height: auto;
            font-size: 14px;
        }
        &__bigTitle{
            font-size: 24px;
        }
        &__btn:not(:last-child){
            margin-bottom: 10px;
        }
        &__btnsWrap--next{
            padding-top: 5px;
            padding-bottom: 20px;
        }
        &__resultTwo{
            &__plus{
                &:after{
                    top: 100%;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                }
            }
            &__cols{
                flex-direction: column;
            }
            &__colx2{
                width: 100%;
            }
            .popupTest__innerText{
                min-height: auto;
            }
            &__img{
                min-height: auto;
            }
        }
        &__resultFour{
            .popupTest__resultTwo__plus{
                &:after{
                    right: -160px;
                }
            }
        }
    }
}
