.zabolevanieTop {
    padding-top: 136px;

    &__text {
        text-transform: uppercase;
        color: #fff;
        font-family: $GPB;
        font-size: 37px;
        text-align: center;
        padding-top: 161px;
        padding-bottom: 390px;

        @media (max-width: $screen-md-max) {
            padding-bottom: 190px;
        }
        @media (max-width: $screen-sm-max)  {
            font-size: 24px;
            padding-top: 120px;
        } 
    }
}

.zabolevanieCauses {
    background: #fff;
    padding: 40px 0 52px;
    position: relative;
    
    &:before {
        content: '';
        width: 100%;
        background: url(../img/white-wave-shadow.png) repeat-x;
        height: 39px;
        position: absolute;
        top: -39px;

        @media (max-width: $screen-md-max) {
            background: url(../img/white-wave-small.png) repeat-x;
            height: 14px;
            top: -14px;
        }
    }
    &:after {
        content: '';
        width: 100%;
        background: url(../img/white-wave.png) repeat-x;
        height: 39px;
        position: absolute;
        bottom: -35px;
        transform: rotate(180deg);

        @media (max-width: $screen-md-max) {
            background: url(../img/white-wave-small.png) repeat-x;
            height: 14px;
            bottom: -14px;
        }
    }
    &__title {
        text-transform: uppercase;
        color: #60807d;
        font: 25px $GPB;
        margin-bottom: 5px;
        text-align: center;
    }
    &__items {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-md-max) {
            flex-wrap: wrap;
        }
    }
    &__item {
        width: calc(50% - 15px);
        padding-right: 60px;

        @media (max-width: $screen-md-max) {
            width: 100%;
            padding-right: 0;
        }
        &__title {
            font-size: 14px;
            color: #60807d;
            font-family: $GPB;
            text-transform: uppercase;
        }
        &__smallTitle {
            font-size: 14px;
            color: #646464;
            font-family: $GPB;
            margin-top: 15px;
        }
        &__text {
            color: #646464;
            font-size: 14px;
        }
        &__img img {
            @media (max-width: $screen-md-max) {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.zabolevanieDiagn {
    background: #f5f5f5;
    padding-top: 93px;
    padding-bottom: 67px;

    &__title {
        text-transform: uppercase;
        color: #60807d;
        font: 25px $GPB;
        margin-bottom: 80px;
        text-align: center;
    }
    &__leftItem {
        width: 185px;
        float: left;
        font: 18px $GPB;
        padding-right: 5px;
        line-height: 1.3;
        padding-top: 5px;

        @media (max-width: $screen-md-max) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &__items {
        width: calc(100% - 300px);
        float: left;
        margin-left: 20px;

        @media (max-width: $screen-md-max) {
            width: 100%;
            margin-left: 0;
        }
        &__wrap {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 40px;
            margin-bottom: 45px;

            @media (max-width: $screen-md-max) {
                justify-content: space-around;
                padding: 0;
            }
        }
    }
    &__item {
        width: 190px;

        @media (max-width: $screen-sm-max) {
            margin-bottom: 76px;
        }
        &:nth-child(-n+4) {
            margin-bottom: 76px;
        }
        &__img {
            margin-bottom: 10px;

            & img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__text {
            font-size: 14px;
            text-align: center;
        }
    }
    &__bigText {
        font-size: 14px;
    }
}

.zabolevanieFight {
    padding-top: 96px;
    padding-bottom: 25px;

    &__title {
        text-transform: uppercase;
        color: #60807d;
        font: 25px $GPB;
        text-align: center;

        @media (max-width: $screen-sm-max)  {
            margin-bottom: 40px;
        }
    }
    &__section {
        padding: 53px 140px 150px 285px;
        position: relative;

        
        @media (max-width: $screen-md-max) {
            padding: 99px 40px 50px 196px;
        }
        @media (max-width: $screen-sm-max)  {
            padding: 0;
            margin-bottom: 30px;
        }
        &__img {
            position: absolute;
            left: 10px;
            top: -80px;

            @media (max-width: $screen-md-max) {
                left: 0;
                top: 30px;
                width: 190px;
            }
            @media (max-width: $screen-sm-max) {
                display: none;
            }
        }
        &__text {
            float: left;
            max-width: 680px;
            margin-left: 15px;
            font-size: 14px;

            & div {
                color: #60807d;
                font: 14px $GPB;
                text-transform: uppercase;
            }
            @media (max-width: $screen-sm-max) {
                width: 100%;
                margin-left: 0;
            }
        }
        &--side {
            padding: 40px 0 150px 85px;

            & .zabolevanieFight__section__img {
                right: 5px;
                left: auto;
                top: -140px;
            }
            & .zabolevanieFight__section__text {
                width: 530px;
            }
            @media (max-width: $screen-md-max) {
                padding: 99px 338px 50px 0;

                & .zabolevanieFight__section__text {
                    width: auto;
                }
                & .zabolevanieFight__section__img {
                    width: 240px;
                    top: 30px;
                }
            }
            @media (max-width: $screen-sm-max)  {
                padding: 0;
            }
        }
        &--last {
            & .zabolevanieFight__section__img {
                left: -43px;
                top: -155px;
                z-index: -1;
            }

            @media (max-width: $screen-md-max) {
                & .zabolevanieFight__section__img {
                    top: 30px;
                    left: 0;
                }
            }
            @media (max-width: $screen-sm-max)  {
                padding: 0;
            }
        }
    }
}
